dependencies/axis2/1.6.1-wso2v11/modules/integration/test-resources/generics/generics.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://generics.axis2.apache.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://generics.axis2.apache.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://generics.axis2.apache.org">
    <wsdl:types>
        <xs:schema xmlns:ax22="http://generics.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://generics.axis2.apache.org">
            <xs:import namespace="http://generics.axis2.apache.org/xsd"/>
            <xs:element name="processStringList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="values" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processStringListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processStringArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="values" nillable="true" type="ns:String"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="String">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="array" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="processPersonList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="persons" nillable="true" type="ax21:Person"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processPersonListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:Person"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStringList">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStringListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://generics.axis2.apache.org/xsd">
            <xs:complexType name="Person">
                <xs:sequence>
                    <xs:element minOccurs="0" name="age" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="processStringArrayRequest">
        <wsdl:part name="parameters" element="ns:processStringArray"/>
    </wsdl:message>
    <wsdl:message name="processStringListRequest">
        <wsdl:part name="parameters" element="ns:processStringList"/>
    </wsdl:message>
    <wsdl:message name="processStringListResponse">
        <wsdl:part name="parameters" element="ns:processStringListResponse"/>
    </wsdl:message>
    <wsdl:message name="processPersonListRequest">
        <wsdl:part name="parameters" element="ns:processPersonList"/>
    </wsdl:message>
    <wsdl:message name="processPersonListResponse">
        <wsdl:part name="parameters" element="ns:processPersonListResponse"/>
    </wsdl:message>
    <wsdl:message name="getStringListRequest">
        <wsdl:part name="parameters" element="ns:getStringList"/>
    </wsdl:message>
    <wsdl:message name="getStringListResponse">
        <wsdl:part name="parameters" element="ns:getStringListResponse"/>
    </wsdl:message>
    <wsdl:portType name="GenericServicePortType">
        <wsdl:operation name="processStringArray">
            <wsdl:input message="ns:processStringArrayRequest" wsaw:Action="urn:processStringArray"/>
        </wsdl:operation>
        <wsdl:operation name="processStringList">
            <wsdl:input message="ns:processStringListRequest" wsaw:Action="urn:processStringList"/>
            <wsdl:output message="ns:processStringListResponse" wsaw:Action="urn:processStringListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="processPersonList">
            <wsdl:input message="ns:processPersonListRequest" wsaw:Action="urn:processPersonList"/>
            <wsdl:output message="ns:processPersonListResponse" wsaw:Action="urn:processPersonListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStringList">
            <wsdl:input message="ns:getStringListRequest" wsaw:Action="urn:getStringList"/>
            <wsdl:output message="ns:getStringListResponse" wsaw:Action="urn:getStringListResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GenericServiceSoap11Binding" type="ns:GenericServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="processStringArray">
            <soap:operation soapAction="urn:processStringArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="processStringList">
            <soap:operation soapAction="urn:processStringList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processPersonList">
            <soap:operation soapAction="urn:processPersonList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStringList">
            <soap:operation soapAction="urn:getStringList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GenericServiceSoap12Binding" type="ns:GenericServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="processStringArray">
            <soap12:operation soapAction="urn:processStringArray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="processStringList">
            <soap12:operation soapAction="urn:processStringList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processPersonList">
            <soap12:operation soapAction="urn:processPersonList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStringList">
            <soap12:operation soapAction="urn:getStringList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GenericServiceHttpBinding" type="ns:GenericServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="processStringArray">
            <http:operation location="processStringArray"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="processStringList">
            <http:operation location="processStringList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processPersonList">
            <http:operation location="processPersonList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStringList">
            <http:operation location="getStringList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GenericService">
        <wsdl:port name="GenericServiceHttpSoap11Endpoint" binding="ns:GenericServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/GenericService"/>
        </wsdl:port>
        <wsdl:port name="GenericServiceHttpSoap12Endpoint" binding="ns:GenericServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/GenericService"/>
        </wsdl:port>
        <wsdl:port name="GenericServiceHttpEndpoint" binding="ns:GenericServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/GenericService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
