components/security-mgt/org.wso2.carbon.security.mgt.ui/src/main/resources/SecurityConfigAdmin.wsdl

<!--
 ~ Copyright (c) 2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns="http://service.config.security.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax2296="http://service.config.security.carbon.wso2.org/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://service.config.security.carbon.wso2.org">
    <wsdl:documentation>SecurityAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://security.carbon.wso2.org/xsd">
            <xs:complexType name="SecurityConfigException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.config.security.carbon.wso2.org/xsd">

            <xs:complexType name="SecurityScenarioData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="currentScenario" type="xs:boolean" />
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="policyRegistryPath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="scenarioId" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="summary" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />

                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SecurityConfigData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="kerberosConfigurations" nillable="true" type="ax2296:KerberosConfigData" />
                    <xs:element minOccurs="0" name="privateStore" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="trustedKeyStores" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="userGroups" nillable="true" type="xs:string" />
                </xs:sequence>

            </xs:complexType>
            <xs:complexType name="KerberosConfigData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="kdcAddress" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="realmName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="servicePrincipleName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="servicePrinciplePassword" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="useSubjectCredentialsOnly" type="xs:boolean" />
                </xs:sequence>

            </xs:complexType>
            <xs:complexType name="SecurityScenarioDataWrapper">
                <xs:sequence>
                    <xs:element minOccurs="0" name="currentScenario" nillable="true" type="ax2296:SecurityScenarioData" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="scenarios" nillable="true" type="ax2296:SecurityScenarioData" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2295="http://security.carbon.wso2.org/xsd" xmlns:ax2297="http://service.config.security.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.config.security.carbon.wso2.org">

            <xs:import namespace="http://security.carbon.wso2.org/xsd" />
            <xs:import namespace="http://service.config.security.carbon.wso2.org/xsd" />
            <xs:element name="SecurityAdminServiceSecurityConfigException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SecurityConfigException" nillable="true" type="ax2295:SecurityConfigException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getSecurityScenario">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sceneId" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSecurityScenarioResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2297:SecurityScenarioData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSecurityConfigData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />

                        <xs:element minOccurs="0" name="scenarioId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="policyPath" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSecurityConfigDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2297:SecurityConfigData" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getScenarios">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getScenariosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2297:SecurityScenarioDataWrapper" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableSecurityOnService">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="applySecurity">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="policyPath" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="trustedStores" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="privateStore" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="userGroupNames" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="applyKerberosSecurityPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="servicePrincipalName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="servicePrincipalPassword" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="activateUsernameTokenAuthentication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="userGroups" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getSecurityConfigDataRequest">
        <wsdl:part name="parameters" element="ns:getSecurityConfigData" />
    </wsdl:message>
    <wsdl:message name="getSecurityConfigDataResponse">
        <wsdl:part name="parameters" element="ns:getSecurityConfigDataResponse" />
    </wsdl:message>
    <wsdl:message name="SecurityAdminServiceSecurityConfigException">

        <wsdl:part name="parameters" element="ns:SecurityAdminServiceSecurityConfigException" />
    </wsdl:message>
    <wsdl:message name="getSecurityScenarioRequest">
        <wsdl:part name="parameters" element="ns:getSecurityScenario" />
    </wsdl:message>
    <wsdl:message name="getSecurityScenarioResponse">
        <wsdl:part name="parameters" element="ns:getSecurityScenarioResponse" />
    </wsdl:message>
    <wsdl:message name="getScenariosRequest">

        <wsdl:part name="parameters" element="ns:getScenarios" />
    </wsdl:message>
    <wsdl:message name="getScenariosResponse">
        <wsdl:part name="parameters" element="ns:getScenariosResponse" />
    </wsdl:message>
    <wsdl:message name="applyKerberosSecurityPolicyRequest">
        <wsdl:part name="parameters" element="ns:applyKerberosSecurityPolicy" />
    </wsdl:message>
    <wsdl:message name="activateUsernameTokenAuthenticationRequest">

        <wsdl:part name="parameters" element="ns:activateUsernameTokenAuthentication" />
    </wsdl:message>
    <wsdl:message name="disableSecurityOnServiceRequest">
        <wsdl:part name="parameters" element="ns:disableSecurityOnService" />
    </wsdl:message>
    <wsdl:message name="applySecurityRequest">
        <wsdl:part name="parameters" element="ns:applySecurity" />
    </wsdl:message>
    <wsdl:portType name="SecurityAdminServicePortType">

        <wsdl:operation name="getSecurityConfigData">
            <wsdl:input message="ns:getSecurityConfigDataRequest" wsaw:Action="urn:getSecurityConfigData" />
            <wsdl:output message="ns:getSecurityConfigDataResponse" wsaw:Action="urn:getSecurityConfigDataResponse" />
            <wsdl:fault message="ns:SecurityAdminServiceSecurityConfigException" name="SecurityAdminServiceSecurityConfigException" wsaw:Action="urn:getSecurityConfigDataSecurityAdminServiceSecurityConfigException" />
        </wsdl:operation>
        <wsdl:operation name="getSecurityScenario">
            <wsdl:input message="ns:getSecurityScenarioRequest" wsaw:Action="urn:getSecurityScenario" />
            <wsdl:output message="ns:getSecurityScenarioResponse" wsaw:Action="urn:getSecurityScenarioResponse" />
            <wsdl:fault message="ns:SecurityAdminServiceSecurityConfigException" name="SecurityAdminServiceSecurityConfigException" wsaw:Action="urn:getSecurityScenarioSecurityAdminServiceSecurityConfigException" />

        </wsdl:operation>
        <wsdl:operation name="getScenarios">
            <wsdl:input message="ns:getScenariosRequest" wsaw:Action="urn:getScenarios" />
            <wsdl:output message="ns:getScenariosResponse" wsaw:Action="urn:getScenariosResponse" />
            <wsdl:fault message="ns:SecurityAdminServiceSecurityConfigException" name="SecurityAdminServiceSecurityConfigException" wsaw:Action="urn:getScenariosSecurityAdminServiceSecurityConfigException" />
        </wsdl:operation>
        <wsdl:operation name="applyKerberosSecurityPolicy">
            <wsdl:input message="ns:applyKerberosSecurityPolicyRequest" wsaw:Action="urn:applyKerberosSecurityPolicy" />
            <wsdl:fault message="ns:SecurityAdminServiceSecurityConfigException" name="SecurityAdminServiceSecurityConfigException" wsaw:Action="urn:applyKerberosSecurityPolicySecurityAdminServiceSecurityConfigException" />

        </wsdl:operation>
        <wsdl:operation name="activateUsernameTokenAuthentication">
            <wsdl:input message="ns:activateUsernameTokenAuthenticationRequest" wsaw:Action="urn:activateUsernameTokenAuthentication" />
            <wsdl:fault message="ns:SecurityAdminServiceSecurityConfigException" name="SecurityAdminServiceSecurityConfigException" wsaw:Action="urn:activateUsernameTokenAuthenticationSecurityAdminServiceSecurityConfigException" />
        </wsdl:operation>
        <wsdl:operation name="disableSecurityOnService">
            <wsdl:input message="ns:disableSecurityOnServiceRequest" wsaw:Action="urn:disableSecurityOnService" />
            <wsdl:fault message="ns:SecurityAdminServiceSecurityConfigException" name="SecurityAdminServiceSecurityConfigException" wsaw:Action="urn:disableSecurityOnServiceSecurityAdminServiceSecurityConfigException" />
        </wsdl:operation>

        <wsdl:operation name="applySecurity">
            <wsdl:input message="ns:applySecurityRequest" wsaw:Action="urn:applySecurity" />
            <wsdl:fault message="ns:SecurityAdminServiceSecurityConfigException" name="SecurityAdminServiceSecurityConfigException" wsaw:Action="urn:applySecuritySecurityAdminServiceSecurityConfigException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SecurityAdminServiceSoap11Binding" type="ns:SecurityAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getSecurityConfigData">
            <soap:operation soapAction="urn:getSecurityConfigData" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="getSecurityScenario">
            <soap:operation soapAction="urn:getSecurityScenario" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getScenarios">
            <soap:operation soapAction="urn:getScenarios" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="applyKerberosSecurityPolicy">
            <soap:operation soapAction="urn:applyKerberosSecurityPolicy" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateUsernameTokenAuthentication">
            <soap:operation soapAction="urn:activateUsernameTokenAuthentication" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disableSecurityOnService">
            <soap:operation soapAction="urn:disableSecurityOnService" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="applySecurity">
            <soap:operation soapAction="urn:applySecurity" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SecurityAdminServiceSoap12Binding" type="ns:SecurityAdminServicePortType">

        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getSecurityConfigData">
            <soap12:operation soapAction="urn:getSecurityConfigData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSecurityScenario">
            <soap12:operation soapAction="urn:getSecurityScenario" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getScenarios">
            <soap12:operation soapAction="urn:getScenarios" style="document" />

            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="applyKerberosSecurityPolicy">
            <soap12:operation soapAction="urn:applyKerberosSecurityPolicy" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="activateUsernameTokenAuthentication">
            <soap12:operation soapAction="urn:activateUsernameTokenAuthentication" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="disableSecurityOnService">
            <soap12:operation soapAction="urn:disableSecurityOnService" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>

        </wsdl:operation>
        <wsdl:operation name="applySecurity">
            <soap12:operation soapAction="urn:applySecurity" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="SecurityAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="SecurityAdminServiceSecurityConfigException" />
            </wsdl:fault>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SecurityAdminServiceHttpBinding" type="ns:SecurityAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getSecurityConfigData">
            <http:operation location="getSecurityConfigData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSecurityScenario">
            <http:operation location="getSecurityScenario" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getScenarios">
            <http:operation location="getScenarios" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="applyKerberosSecurityPolicy">
            <http:operation location="applyKerberosSecurityPolicy" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

        </wsdl:operation>
        <wsdl:operation name="activateUsernameTokenAuthentication">
            <http:operation location="activateUsernameTokenAuthentication" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="disableSecurityOnService">
            <http:operation location="disableSecurityOnService" />

            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="applySecurity">
            <http:operation location="applySecurity" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SecurityAdminService">
        <wsdl:port name="SecurityAdminServiceHttpsSoap11Endpoint" binding="ns:SecurityAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/SecurityAdminService.SecurityAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SecurityAdminServiceHttpsSoap12Endpoint" binding="ns:SecurityAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/SecurityAdminService.SecurityAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>

        <wsdl:port name="SecurityAdminServiceHttpsEndpoint" binding="ns:SecurityAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/SecurityAdminService.SecurityAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>