dependencies/axis2/1.6.1-wso2v11/modules/jaxbri/test-resources/wsdl/DocLitBareService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns4="http://xsd.arrays.pojo.doclitbare.temp.org/xsd"
                  xmlns:ns0="http://xsd.jaxb.doclitbare.temp.org/xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns7="http://pojo.doclitbare.temp.org/xsd"
                  xmlns:ns5="http://doclitbare.temp.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns6="http://jaxb.doclitbare.temp.org/xsd" xmlns:axis2="http://doclitbare.temp.org"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="http://xsd.doclitbare.temp.org/xsd"
                  xmlns:ns3="http://arrays.pojo.doclitbare.temp.org/xsd"
                  xmlns:ns2="http://xsd.pojo.doclitbare.temp.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://doclitbare.temp.org">
    <wsdl:types>
        <xs:schema xmlns:ns1="http://pojo.doclitbare.temp.org/xsd" attributeFormDefault="unqualified"
                   elementFormDefault="qualified" targetNamespace="http://arrays.pojo.doclitbare.temp.org/xsd">
            <xs:complexType name="FloatArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="floats" nillable="true" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StringArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="strings" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CarArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cars" nillable="true" type="ns7:Car"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ObjectArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="objects" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
                   targetNamespace="http://doclitbare.temp.org/xsd">
            <xs:element name="calendarStringArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="calendarStringArray" nillable="true"
                                    type="ns1:CalendarStringArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="intArrayObjectArrayResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="booleanBoolean">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="boolArg" nillable="true" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="booleanBooleanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="byteByte">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="byteArg" nillable="true" type="xs:byte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="byteByteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:byte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="byteArrayIntArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="intArrayArg" nillable="true"
                                    type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="byteArrayIntArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="floatFloat">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="floatArgC" nillable="true" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="floatFloatResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="intDiablo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="diabloArgA" nillable="true" type="ns7:Diablo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="intDiabloResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="intFloat">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="floatArgB" nillable="true" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="intFloatResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="intString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="stringArgA" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="intStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="objectFloat">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="floatArg" nillable="true" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="objectFloatResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="qNameQName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="qNameArg" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="qNameQNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stringCar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="carArg" nillable="true" type="ns7:Car"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stringCarResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stringString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="stringArgB" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stringStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stringVoidResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bigDecimalBigDecimal">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bigDecimalArg" nillable="true" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bigDecimalBigDecimalResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calendarDiablo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dabloArg" nillable="true" type="ns7:Diablo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calendarDiabloResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calendarStringArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStockQuoteInt">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="intArgC" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStockQuoteIntResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns6:GetStockQuote"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="objectFactoryCar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="carArgB" nillable="true" type="ns7:Car"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="objectFactoryCarResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns6:ObjectFactory2"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="floatArrayFighter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fighterArg" nillable="true" type="ns7:Fighter"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="floatArrayFighterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns3:FloatArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="objectArrayCarArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="carArrayArg" nillable="true" type="ns3:CarArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="objectArrayCarArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns3:ObjectArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stringArrayInt">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="intArgB" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stringArrayIntResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns3:StringArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stringArrayStringArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="stringArrayArg" nillable="true" type="ns3:StringArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stringArrayStringArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns3:StringArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="intArrayObjectArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="objectArrayArg" nillable="true" type="ns3:ObjectArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="intArrayObjectArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:IntArrayObjectArrayResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="shortChangeType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ctArg" nillable="true" type="ns6:ChangeType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="shortChangeTypeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="shortShort">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="shortArg" nillable="true" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="shortShortResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="voidInt">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="intArgA" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="voidLastTradeType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="lttArg" nillable="true" type="ns6:LastTradeType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:tns="http://jaxb.doclitbare.temp.org/xsd" attributeFormDefault="unqualified"
                   elementFormDefault="qualified" targetNamespace="http://jaxb.doclitbare.temp.org/xsd">
            <xs:element name="ChangeType" nillable="true" type="ns6:ChangeType"/>
            <xs:element name="GetStockQuote" nillable="true" type="ns6:GetStockQuote"/>
            <xs:element name="LastTradeType" nillable="true" type="ns6:LastTradeType"/>
            <xs:element name="ObjectFactory2" nillable="true" type="ns6:ObjectFactory2"/>
            <xs:element name="Quote" nillable="true" type="ns6:Quote"/>
            <xs:complexType name="GetStockQuote">
                <xs:sequence>
                    <xs:element name="symbol" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ObjectFactory2"/>
            <xs:complexType name="ChangeType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dollar" type="xs:float"/>
                    <xs:element minOccurs="0" name="percent" type="xs:float"/>
                    <xs:element minOccurs="0" name="positive" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LastTradeType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="date" type="xs:long"/>
                    <xs:element minOccurs="0" name="price" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Quote">
                <xs:sequence>
                    <xs:element name="change" type="ns6:ChangeType"/>
                    <xs:element name="lastTrade" type="ns6:LastTradeType"/>
                    <xs:element name="symbol" type="xs:string"/>
                    <xs:element name="volume" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:tns="http://pojo.doclitbare.temp.org/xsd" attributeFormDefault="unqualified"
                   elementFormDefault="qualified" targetNamespace="http://pojo.doclitbare.temp.org/xsd">
            <xs:element name="Car" nillable="true" type="ns7:Car"/>
            <xs:element name="Diablo" nillable="true" type="ns7:Diablo"/>
            <xs:element name="Fighter" nillable="true" type="ns7:Fighter"/>
            <xs:complexType name="Car">
                <xs:sequence>
                    <xs:element name="color" type="xs:string"/>
                    <xs:element minOccurs="0" name="maxSpeed" type="xs:int"/>
                    <xs:element minOccurs="0" name="price" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Fighter">
                <xs:sequence>
                    <xs:element name="manufacturer" type="xs:string"/>
                    <xs:element minOccurs="0" name="rateOfFire" type="xs:float"/>
                    <xs:element minOccurs="0" name="wingCount" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Diablo">
                <xs:complexContent>
                    <xs:extension base="ns7:Car">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="acceleration" type="xs:double"/>
                            <xs:element name="mileage" type="xs:long"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax27="http://arrays.pojo.doclitbare.temp.org/xsd"
                   xmlns:ax26="http://xsd.arrays.pojo.doclitbare.temp.org/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://xsd.arrays.pojo.doclitbare.temp.org/xsd">
            <xs:import namespace="http://arrays.pojo.doclitbare.temp.org/xsd"/>
        </xs:schema>
        <xs:schema xmlns:ax23="http://xsd.doclitbare.temp.org/xsd" attributeFormDefault="unqualified"
                   elementFormDefault="qualified" targetNamespace="http://xsd.doclitbare.temp.org/xsd">
            <xs:complexType name="CalendarStringArray">
                <xs:sequence>
                    <xs:element minOccurs="0" name="stringArgs" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntArrayObjectArrayResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax25="http://jaxb.doclitbare.temp.org/xsd" xmlns:ax24="http://xsd.jaxb.doclitbare.temp.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://xsd.jaxb.doclitbare.temp.org/xsd">
            <xs:import namespace="http://jaxb.doclitbare.temp.org/xsd"/>
        </xs:schema>
        <xs:schema xmlns:ax21="http://xsd.pojo.doclitbare.temp.org/xsd" xmlns:ax22="http://pojo.doclitbare.temp.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://xsd.pojo.doclitbare.temp.org/xsd">
            <xs:import namespace="http://pojo.doclitbare.temp.org/xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="stringCarRequest">
        <wsdl:part name="parameters" element="ns5:stringCar"/>
    </wsdl:message>
    <wsdl:message name="stringCarResponse">
        <wsdl:part name="parameters" element="ns5:stringCarResponse"/>
    </wsdl:message>
    <wsdl:message name="intFloatRequest">
        <wsdl:part name="parameters" element="ns5:intFloat"/>
    </wsdl:message>
    <wsdl:message name="intFloatResponse">
        <wsdl:part name="parameters" element="ns5:intFloatResponse"/>
    </wsdl:message>
    <wsdl:message name="booleanBooleanRequest">
        <wsdl:part name="parameters" element="ns5:booleanBoolean"/>
    </wsdl:message>
    <wsdl:message name="booleanBooleanResponse">
        <wsdl:part name="parameters" element="ns5:booleanBooleanResponse"/>
    </wsdl:message>
    <wsdl:message name="getStockQuoteIntRequest">
        <wsdl:part name="parameters" element="ns5:getStockQuoteInt"/>
    </wsdl:message>
    <wsdl:message name="getStockQuoteIntResponse">
        <wsdl:part name="parameters" element="ns5:getStockQuoteIntResponse"/>
    </wsdl:message>
    <wsdl:message name="floatArrayFighterRequest">
        <wsdl:part name="parameters" element="ns5:floatArrayFighter"/>
    </wsdl:message>
    <wsdl:message name="floatArrayFighterResponse">
        <wsdl:part name="parameters" element="ns5:floatArrayFighterResponse"/>
    </wsdl:message>
    <wsdl:message name="byteArrayIntArrayRequest">
        <wsdl:part name="parameters" element="ns5:byteArrayIntArray"/>
    </wsdl:message>
    <wsdl:message name="byteArrayIntArrayResponse">
        <wsdl:part name="parameters" element="ns5:byteArrayIntArrayResponse"/>
    </wsdl:message>
    <wsdl:message name="calendarStringArrayRequest">
        <wsdl:part name="parameters" element="ns5:calendarStringArray"/>
    </wsdl:message>
    <wsdl:message name="calendarStringArrayResponse">
        <wsdl:part name="parameters" element="ns5:calendarStringArrayResponse"/>
    </wsdl:message>
    <wsdl:message name="voidIntRequest">
        <wsdl:part name="parameters" element="ns5:voidInt"/>
    </wsdl:message>
    <wsdl:message name="objectFactoryCarRequest">
        <wsdl:part name="parameters" element="ns5:objectFactoryCar"/>
    </wsdl:message>
    <wsdl:message name="objectFactoryCarResponse">
        <wsdl:part name="parameters" element="ns5:objectFactoryCarResponse"/>
    </wsdl:message>
    <wsdl:message name="stringArrayIntRequest">
        <wsdl:part name="parameters" element="ns5:stringArrayInt"/>
    </wsdl:message>
    <wsdl:message name="stringArrayIntResponse">
        <wsdl:part name="parameters" element="ns5:stringArrayIntResponse"/>
    </wsdl:message>
    <wsdl:message name="byteByteRequest">
        <wsdl:part name="parameters" element="ns5:byteByte"/>
    </wsdl:message>
    <wsdl:message name="byteByteResponse">
        <wsdl:part name="parameters" element="ns5:byteByteResponse"/>
    </wsdl:message>
    <wsdl:message name="stringVoidRequest"/>
    <wsdl:message name="stringVoidResponse">
        <wsdl:part name="parameters" element="ns5:stringVoidResponse"/>
    </wsdl:message>
    <wsdl:message name="intStringRequest">
        <wsdl:part name="parameters" element="ns5:intString"/>
    </wsdl:message>
    <wsdl:message name="intStringResponse">
        <wsdl:part name="parameters" element="ns5:intStringResponse"/>
    </wsdl:message>
    <wsdl:message name="objectArrayCarArrayRequest">
        <wsdl:part name="parameters" element="ns5:objectArrayCarArray"/>
    </wsdl:message>
    <wsdl:message name="objectArrayCarArrayResponse">
        <wsdl:part name="parameters" element="ns5:objectArrayCarArrayResponse"/>
    </wsdl:message>
    <wsdl:message name="objectFloatRequest">
        <wsdl:part name="parameters" element="ns5:objectFloat"/>
    </wsdl:message>
    <wsdl:message name="objectFloatResponse">
        <wsdl:part name="parameters" element="ns5:objectFloatResponse"/>
    </wsdl:message>
    <wsdl:message name="voidLastTradeTypeRequest">
        <wsdl:part name="parameters" element="ns5:voidLastTradeType"/>
    </wsdl:message>
    <wsdl:message name="stringStringRequest">
        <wsdl:part name="parameters" element="ns5:stringString"/>
    </wsdl:message>
    <wsdl:message name="stringStringResponse">
        <wsdl:part name="parameters" element="ns5:stringStringResponse"/>
    </wsdl:message>
    <wsdl:message name="intArrayObjectArrayRequest">
        <wsdl:part name="parameters" element="ns5:intArrayObjectArray"/>
    </wsdl:message>
    <wsdl:message name="intArrayObjectArrayResponse">
        <wsdl:part name="parameters" element="ns5:intArrayObjectArrayResponse"/>
    </wsdl:message>
    <wsdl:message name="qNameQNameRequest">
        <wsdl:part name="parameters" element="ns5:qNameQName"/>
    </wsdl:message>
    <wsdl:message name="qNameQNameResponse">
        <wsdl:part name="parameters" element="ns5:qNameQNameResponse"/>
    </wsdl:message>
    <wsdl:message name="bigDecimalBigDecimalRequest">
        <wsdl:part name="parameters" element="ns5:bigDecimalBigDecimal"/>
    </wsdl:message>
    <wsdl:message name="bigDecimalBigDecimalResponse">
        <wsdl:part name="parameters" element="ns5:bigDecimalBigDecimalResponse"/>
    </wsdl:message>
    <wsdl:message name="calendarDiabloRequest">
        <wsdl:part name="parameters" element="ns5:calendarDiablo"/>
    </wsdl:message>
    <wsdl:message name="calendarDiabloResponse">
        <wsdl:part name="parameters" element="ns5:calendarDiabloResponse"/>
    </wsdl:message>
    <wsdl:message name="floatFloatRequest">
        <wsdl:part name="parameters" element="ns5:floatFloat"/>
    </wsdl:message>
    <wsdl:message name="floatFloatResponse">
        <wsdl:part name="parameters" element="ns5:floatFloatResponse"/>
    </wsdl:message>
    <wsdl:message name="stringArrayStringArrayRequest">
        <wsdl:part name="parameters" element="ns5:stringArrayStringArray"/>
    </wsdl:message>
    <wsdl:message name="stringArrayStringArrayResponse">
        <wsdl:part name="parameters" element="ns5:stringArrayStringArrayResponse"/>
    </wsdl:message>
    <wsdl:message name="intDiabloRequest">
        <wsdl:part name="parameters" element="ns5:intDiablo"/>
    </wsdl:message>
    <wsdl:message name="intDiabloResponse">
        <wsdl:part name="parameters" element="ns5:intDiabloResponse"/>
    </wsdl:message>
    <wsdl:message name="shortChangeTypeRequest">
        <wsdl:part name="parameters" element="ns5:shortChangeType"/>
    </wsdl:message>
    <wsdl:message name="shortChangeTypeResponse">
        <wsdl:part name="parameters" element="ns5:shortChangeTypeResponse"/>
    </wsdl:message>
    <wsdl:message name="shortShortRequest">
        <wsdl:part name="parameters" element="ns5:shortShort"/>
    </wsdl:message>
    <wsdl:message name="shortShortResponse">
        <wsdl:part name="parameters" element="ns5:shortShortResponse"/>
    </wsdl:message>
    <wsdl:portType name="DocLitBareServicePortType">
        <wsdl:operation name="stringCar">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:stringCarRequest"
                        wsaw:Action="urn:stringCar"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:stringCarResponse"
                         wsaw:Action="urn:stringCarResponse"/>
        </wsdl:operation>
        <wsdl:operation name="intFloat">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:intFloatRequest"
                        wsaw:Action="urn:intFloat"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:intFloatResponse"
                         wsaw:Action="urn:intFloatResponse"/>
        </wsdl:operation>
        <wsdl:operation name="booleanBoolean">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:booleanBooleanRequest"
                        wsaw:Action="urn:booleanBoolean"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:booleanBooleanResponse"
                         wsaw:Action="urn:booleanBooleanResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStockQuoteInt">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getStockQuoteIntRequest"
                        wsaw:Action="urn:getStockQuoteInt"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:getStockQuoteIntResponse"
                         wsaw:Action="urn:getStockQuoteIntResponse"/>
        </wsdl:operation>
        <wsdl:operation name="floatArrayFighter">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:floatArrayFighterRequest"
                        wsaw:Action="urn:floatArrayFighter"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                         message="axis2:floatArrayFighterResponse" wsaw:Action="urn:floatArrayFighterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="byteArrayIntArray">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:byteArrayIntArrayRequest"
                        wsaw:Action="urn:byteArrayIntArray"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                         message="axis2:byteArrayIntArrayResponse" wsaw:Action="urn:byteArrayIntArrayResponse"/>
        </wsdl:operation>
        <wsdl:operation name="calendarStringArray">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                        message="axis2:calendarStringArrayRequest" wsaw:Action="urn:calendarStringArray"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                         message="axis2:calendarStringArrayResponse" wsaw:Action="urn:calendarStringArrayResponse"/>
        </wsdl:operation>
        <wsdl:operation name="voidInt">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:voidIntRequest"
                        wsaw:Action="urn:voidInt"/>
        </wsdl:operation>
        <wsdl:operation name="objectFactoryCar">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:objectFactoryCarRequest"
                        wsaw:Action="urn:objectFactoryCar"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:objectFactoryCarResponse"
                         wsaw:Action="urn:objectFactoryCarResponse"/>
        </wsdl:operation>
        <wsdl:operation name="stringArrayInt">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:stringArrayIntRequest"
                        wsaw:Action="urn:stringArrayInt"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:stringArrayIntResponse"
                         wsaw:Action="urn:stringArrayIntResponse"/>
        </wsdl:operation>
        <wsdl:operation name="byteByte">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:byteByteRequest"
                        wsaw:Action="urn:byteByte"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:byteByteResponse"
                         wsaw:Action="urn:byteByteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="stringVoid">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:stringVoidRequest"
                        wsaw:Action="urn:stringVoid"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:stringVoidResponse"
                         wsaw:Action="urn:stringVoidResponse"/>
        </wsdl:operation>
        <wsdl:operation name="intString">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:intStringRequest"
                        wsaw:Action="urn:intString"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:intStringResponse"
                         wsaw:Action="urn:intStringResponse"/>
        </wsdl:operation>
        <wsdl:operation name="objectArrayCarArray">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                        message="axis2:objectArrayCarArrayRequest" wsaw:Action="urn:objectArrayCarArray"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                         message="axis2:objectArrayCarArrayResponse" wsaw:Action="urn:objectArrayCarArrayResponse"/>
        </wsdl:operation>
        <wsdl:operation name="objectFloat">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:objectFloatRequest"
                        wsaw:Action="urn:objectFloat"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:objectFloatResponse"
                         wsaw:Action="urn:objectFloatResponse"/>
        </wsdl:operation>
        <wsdl:operation name="voidLastTradeType">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:voidLastTradeTypeRequest"
                        wsaw:Action="urn:voidLastTradeType"/>
        </wsdl:operation>
        <wsdl:operation name="stringString">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:stringStringRequest"
                        wsaw:Action="urn:stringString"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:stringStringResponse"
                         wsaw:Action="urn:stringStringResponse"/>
        </wsdl:operation>
        <wsdl:operation name="intArrayObjectArray">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                        message="axis2:intArrayObjectArrayRequest" wsaw:Action="urn:intArrayObjectArray"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                         message="axis2:intArrayObjectArrayResponse" wsaw:Action="urn:intArrayObjectArrayResponse"/>
        </wsdl:operation>
        <wsdl:operation name="qNameQName">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:qNameQNameRequest"
                        wsaw:Action="urn:qNameQName"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:qNameQNameResponse"
                         wsaw:Action="urn:qNameQNameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="bigDecimalBigDecimal">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                        message="axis2:bigDecimalBigDecimalRequest" wsaw:Action="urn:bigDecimalBigDecimal"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                         message="axis2:bigDecimalBigDecimalResponse" wsaw:Action="urn:bigDecimalBigDecimalResponse"/>
        </wsdl:operation>
        <wsdl:operation name="calendarDiablo">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:calendarDiabloRequest"
                        wsaw:Action="urn:calendarDiablo"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:calendarDiabloResponse"
                         wsaw:Action="urn:calendarDiabloResponse"/>
        </wsdl:operation>
        <wsdl:operation name="floatFloat">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:floatFloatRequest"
                        wsaw:Action="urn:floatFloat"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:floatFloatResponse"
                         wsaw:Action="urn:floatFloatResponse"/>
        </wsdl:operation>
        <wsdl:operation name="stringArrayStringArray">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                        message="axis2:stringArrayStringArrayRequest" wsaw:Action="urn:stringArrayStringArray"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                         message="axis2:stringArrayStringArrayResponse"
                         wsaw:Action="urn:stringArrayStringArrayResponse"/>
        </wsdl:operation>
        <wsdl:operation name="intDiablo">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:intDiabloRequest"
                        wsaw:Action="urn:intDiablo"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:intDiabloResponse"
                         wsaw:Action="urn:intDiabloResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shortChangeType">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:shortChangeTypeRequest"
                        wsaw:Action="urn:shortChangeType"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:shortChangeTypeResponse"
                         wsaw:Action="urn:shortChangeTypeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shortShort">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:shortShortRequest"
                        wsaw:Action="urn:shortShort"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="axis2:shortShortResponse"
                         wsaw:Action="urn:shortShortResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DocLitBareServiceSOAP11Binding" type="axis2:DocLitBareServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="stringCar">
            <soap:operation soapAction="urn:stringCar" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="intFloat">
            <soap:operation soapAction="urn:intFloat" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="booleanBoolean">
            <soap:operation soapAction="urn:booleanBoolean" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStockQuoteInt">
            <soap:operation soapAction="urn:getStockQuoteInt" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="floatArrayFighter">
            <soap:operation soapAction="urn:floatArrayFighter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="byteArrayIntArray">
            <soap:operation soapAction="urn:byteArrayIntArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calendarStringArray">
            <soap:operation soapAction="urn:calendarStringArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="voidInt">
            <soap:operation soapAction="urn:voidInt" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="objectFactoryCar">
            <soap:operation soapAction="urn:objectFactoryCar" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stringArrayInt">
            <soap:operation soapAction="urn:stringArrayInt" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="byteByte">
            <soap:operation soapAction="urn:byteByte" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stringVoid">
            <soap:operation soapAction="urn:stringVoid" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="intString">
            <soap:operation soapAction="urn:intString" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="objectArrayCarArray">
            <soap:operation soapAction="urn:objectArrayCarArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="objectFloat">
            <soap:operation soapAction="urn:objectFloat" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="voidLastTradeType">
            <soap:operation soapAction="urn:voidLastTradeType" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="stringString">
            <soap:operation soapAction="urn:stringString" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="intArrayObjectArray">
            <soap:operation soapAction="urn:intArrayObjectArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="qNameQName">
            <soap:operation soapAction="urn:qNameQName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bigDecimalBigDecimal">
            <soap:operation soapAction="urn:bigDecimalBigDecimal" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calendarDiablo">
            <soap:operation soapAction="urn:calendarDiablo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="floatFloat">
            <soap:operation soapAction="urn:floatFloat" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stringArrayStringArray">
            <soap:operation soapAction="urn:stringArrayStringArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="intDiablo">
            <soap:operation soapAction="urn:intDiablo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shortChangeType">
            <soap:operation soapAction="urn:shortChangeType" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shortShort">
            <soap:operation soapAction="urn:shortShort" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DocLitBareServiceSOAP12Binding" type="axis2:DocLitBareServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="stringCar">
            <soap12:operation soapAction="urn:stringCar" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="intFloat">
            <soap12:operation soapAction="urn:intFloat" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="booleanBoolean">
            <soap12:operation soapAction="urn:booleanBoolean" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStockQuoteInt">
            <soap12:operation soapAction="urn:getStockQuoteInt" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="floatArrayFighter">
            <soap12:operation soapAction="urn:floatArrayFighter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="byteArrayIntArray">
            <soap12:operation soapAction="urn:byteArrayIntArray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calendarStringArray">
            <soap12:operation soapAction="urn:calendarStringArray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="voidInt">
            <soap12:operation soapAction="urn:voidInt" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="objectFactoryCar">
            <soap12:operation soapAction="urn:objectFactoryCar" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stringArrayInt">
            <soap12:operation soapAction="urn:stringArrayInt" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="byteByte">
            <soap12:operation soapAction="urn:byteByte" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stringVoid">
            <soap12:operation soapAction="urn:stringVoid" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="intString">
            <soap12:operation soapAction="urn:intString" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="objectArrayCarArray">
            <soap12:operation soapAction="urn:objectArrayCarArray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="objectFloat">
            <soap12:operation soapAction="urn:objectFloat" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="voidLastTradeType">
            <soap12:operation soapAction="urn:voidLastTradeType" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="stringString">
            <soap12:operation soapAction="urn:stringString" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="intArrayObjectArray">
            <soap12:operation soapAction="urn:intArrayObjectArray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="qNameQName">
            <soap12:operation soapAction="urn:qNameQName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bigDecimalBigDecimal">
            <soap12:operation soapAction="urn:bigDecimalBigDecimal" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calendarDiablo">
            <soap12:operation soapAction="urn:calendarDiablo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="floatFloat">
            <soap12:operation soapAction="urn:floatFloat" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stringArrayStringArray">
            <soap12:operation soapAction="urn:stringArrayStringArray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="intDiablo">
            <soap12:operation soapAction="urn:intDiablo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shortChangeType">
            <soap12:operation soapAction="urn:shortChangeType" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shortShort">
            <soap12:operation soapAction="urn:shortShort" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DocLitBareServiceHttpBinding" type="axis2:DocLitBareServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="stringCar">
            <http:operation location="DocLitBareService/stringCar"/>
            <wsdl:input>
                <mime:content type="text/xml" part="stringCar"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="stringCar"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="intFloat">
            <http:operation location="DocLitBareService/intFloat"/>
            <wsdl:input>
                <mime:content type="text/xml" part="intFloat"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="intFloat"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="booleanBoolean">
            <http:operation location="DocLitBareService/booleanBoolean"/>
            <wsdl:input>
                <mime:content type="text/xml" part="booleanBoolean"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="booleanBoolean"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStockQuoteInt">
            <http:operation location="DocLitBareService/getStockQuoteInt"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getStockQuoteInt"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getStockQuoteInt"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="floatArrayFighter">
            <http:operation location="DocLitBareService/floatArrayFighter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="floatArrayFighter"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="floatArrayFighter"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="byteArrayIntArray">
            <http:operation location="DocLitBareService/byteArrayIntArray"/>
            <wsdl:input>
                <mime:content type="text/xml" part="byteArrayIntArray"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="byteArrayIntArray"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calendarStringArray">
            <http:operation location="DocLitBareService/calendarStringArray"/>
            <wsdl:input>
                <mime:content type="text/xml" part="calendarStringArray"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="calendarStringArray"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="voidInt">
            <http:operation location="DocLitBareService/voidInt"/>
            <wsdl:input>
                <mime:content type="text/xml" part="voidInt"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="objectFactoryCar">
            <http:operation location="DocLitBareService/objectFactoryCar"/>
            <wsdl:input>
                <mime:content type="text/xml" part="objectFactoryCar"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="objectFactoryCar"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stringArrayInt">
            <http:operation location="DocLitBareService/stringArrayInt"/>
            <wsdl:input>
                <mime:content type="text/xml" part="stringArrayInt"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="stringArrayInt"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="byteByte">
            <http:operation location="DocLitBareService/byteByte"/>
            <wsdl:input>
                <mime:content type="text/xml" part="byteByte"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="byteByte"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stringVoid">
            <http:operation location="DocLitBareService/stringVoid"/>
            <wsdl:input>
                <mime:content type="text/xml" part="stringVoid"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="stringVoid"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="intString">
            <http:operation location="DocLitBareService/intString"/>
            <wsdl:input>
                <mime:content type="text/xml" part="intString"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="intString"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="objectArrayCarArray">
            <http:operation location="DocLitBareService/objectArrayCarArray"/>
            <wsdl:input>
                <mime:content type="text/xml" part="objectArrayCarArray"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="objectArrayCarArray"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="objectFloat">
            <http:operation location="DocLitBareService/objectFloat"/>
            <wsdl:input>
                <mime:content type="text/xml" part="objectFloat"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="objectFloat"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="voidLastTradeType">
            <http:operation location="DocLitBareService/voidLastTradeType"/>
            <wsdl:input>
                <mime:content type="text/xml" part="voidLastTradeType"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="stringString">
            <http:operation location="DocLitBareService/stringString"/>
            <wsdl:input>
                <mime:content type="text/xml" part="stringString"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="stringString"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="intArrayObjectArray">
            <http:operation location="DocLitBareService/intArrayObjectArray"/>
            <wsdl:input>
                <mime:content type="text/xml" part="intArrayObjectArray"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="intArrayObjectArray"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="qNameQName">
            <http:operation location="DocLitBareService/qNameQName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="qNameQName"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="qNameQName"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bigDecimalBigDecimal">
            <http:operation location="DocLitBareService/bigDecimalBigDecimal"/>
            <wsdl:input>
                <mime:content type="text/xml" part="bigDecimalBigDecimal"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="bigDecimalBigDecimal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="calendarDiablo">
            <http:operation location="DocLitBareService/calendarDiablo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="calendarDiablo"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="calendarDiablo"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="floatFloat">
            <http:operation location="DocLitBareService/floatFloat"/>
            <wsdl:input>
                <mime:content type="text/xml" part="floatFloat"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="floatFloat"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stringArrayStringArray">
            <http:operation location="DocLitBareService/stringArrayStringArray"/>
            <wsdl:input>
                <mime:content type="text/xml" part="stringArrayStringArray"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="stringArrayStringArray"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="intDiablo">
            <http:operation location="DocLitBareService/intDiablo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="intDiablo"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="intDiablo"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shortChangeType">
            <http:operation location="DocLitBareService/shortChangeType"/>
            <wsdl:input>
                <mime:content type="text/xml" part="shortChangeType"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="shortChangeType"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shortShort">
            <http:operation location="DocLitBareService/shortShort"/>
            <wsdl:input>
                <mime:content type="text/xml" part="shortShort"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="shortShort"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DocLitBareService">
        <wsdl:port name="DocLitBareServiceSOAP11port_http" binding="axis2:DocLitBareServiceSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/DocLitBareService"/>
        </wsdl:port>
        <wsdl:port name="DocLitBareServiceSOAP12port_http" binding="axis2:DocLitBareServiceSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/DocLitBareService"/>
        </wsdl:port>
        <wsdl:port name="DocLitBareServiceHttpport" binding="axis2:DocLitBareServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/DocLitBareService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

