dependencies/axis2/1.6.1-wso2v11/modules/kernel/test-resources/PingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!-- WSDL description of the WSS Ping interop scenarios -->

<definitions name="Ping"
    targetNamespace="http://xmlsoap.org/Ping"
    xmlns:tns="http://xmlsoap.org/Ping"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema targetNamespace="http://xmlsoap.org/Ping"
         xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="ping">
        <sequence>
          <element name="text" type="xsd:string" nillable="true"/>
                 </sequence>
      </complexType>
      <complexType name="pingResponse">
        <sequence>
          <element name="text" type="xsd:string" nillable="true"/>
                 </sequence>
      </complexType>
      <element name="Ping" type="tns:ping"/>
      <element name="PingResponse" type="tns:pingResponse"/>
    </schema>
  </types>

  <message name="PingRequest">
    <part name="ping" element="tns:Ping"/>
  </message>

  <message name="PingResponse">
    <part name="pingResponse" element="tns:PingResponse"/>
  </message>

  <portType name="PingPort">
    <operation name="Ping">
      <input  message="tns:PingRequest"/>
      <output message="tns:PingResponse"/>
    </operation>
  </portType>

  <binding name="PingBinding" type="tns:PingPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
style="document"/>
    <operation name="Ping">
      <soap:operation soapAction=""/>
      <input> <soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
   </binding>

  <service name="PingService">
    <port name="PingPort" binding="tns:PingBinding">
    <soap:address location="http://localhost:8080/axis2/services/PingService"/>
    </port>
  </service>

</definitions>
