dependencies/axis2/1.6.1-wso2v11/modules/samples/jaxws-version/resources/META-INF/version.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jaxws.sample/" targetNamespace="http://jaxws.sample/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="Exception" type="tns:Exception"/>
	<xs:element name="getVersion" type="tns:getVersion"/>
	<xs:element name="getVersionResponse" type="tns:getVersionResponse"/>
	<xs:complexType name="getVersion">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="getVersionResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Exception">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
