service-stubs/org.wso2.carbon.server.admin.stub/src/main/resources/ServerAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:tns="http://service.admin.server.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ax2100="http://common.admin.server.carbon.wso2.org/xsd"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	targetNamespace="http://service.admin.server.carbon.wso2.org">
	<wsdl:documentation>ServerAdmin</wsdl:documentation>
	<wsdl:types>
		<xs:schema xmlns:ax2101="http://common.admin.server.carbon.wso2.org/xsd"
			xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
			<xs:import namespace="http://common.admin.server.carbon.wso2.org/xsd" />
			<xs:element name="ServerAdminException">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="ServerAdminException"
							nillable="true" type="ns1:Exception" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="Exception">
				<xs:sequence>
					<xs:element minOccurs="0" name="Message" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="startMaintenance">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="shutdownGracefully">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="shutdownGracefullyResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="shutdown">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="shutdownResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="restartGracefully">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="restartGracefullyResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="restart">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="restartResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="isAlive">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="isAliveResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getServerVersion">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="getServerVersionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getServerStatus">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="getServerStatusResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getServerDataAsString">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="getServerDataAsStringResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getServerData">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="getServerDataResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="ax2101:ServerData" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="endMaintenance">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://common.admin.server.carbon.wso2.org/xsd">
			<xs:complexType name="ServerData">
				<xs:sequence>
					<xs:element minOccurs="0" name="axis2Location" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="carbonVersion" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="dbDriverName" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="dbDriverVersion"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="dbName" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="dbURL" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="dbVersion" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="javaHome" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="javaRuntimeName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="javaVMVendor" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="javaVMVersion" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="javaVersion" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="osName" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="osVersion" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="registryType" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="remoteRegistryChroot"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="remoteRegistryURL"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="repoLocation" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="serverIp" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="serverName" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="serverStartTime"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="serverStartUpDuration"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="serverUpTime" nillable="true"
						type="ax2100:ServerUpTime" />
					<xs:element minOccurs="0" name="userCountry" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="userHome" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="userName" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="userTimezone" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ServerUpTime">
				<xs:sequence>
					<xs:element minOccurs="0" name="days" type="xs:long" />
					<xs:element minOccurs="0" name="hours" type="xs:int" />
					<xs:element minOccurs="0" name="minutes" type="xs:int" />
					<xs:element minOccurs="0" name="seconds" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getServerStatusRequest">
		<wsdl:part name="parameters" element="ns1:getServerStatus" />
	</wsdl:message>
	<wsdl:message name="getServerStatusResponse">
		<wsdl:part name="parameters" element="ns1:getServerStatusResponse" />
	</wsdl:message>
	<wsdl:message name="ServerAdminException">
		<wsdl:part name="parameters" element="ns1:ServerAdminException" />
	</wsdl:message>
	<wsdl:message name="getServerVersionRequest">
		<wsdl:part name="parameters" element="ns1:getServerVersion" />
	</wsdl:message>
	<wsdl:message name="getServerVersionResponse">
		<wsdl:part name="parameters" element="ns1:getServerVersionResponse" />
	</wsdl:message>
	<wsdl:message name="endMaintenanceRequest">
		<wsdl:part name="parameters" element="ns1:endMaintenance" />
	</wsdl:message>
	<wsdl:message name="shutdownGracefullyRequest">
		<wsdl:part name="parameters" element="ns1:shutdownGracefully" />
	</wsdl:message>
	<wsdl:message name="shutdownGracefullyResponse">
		<wsdl:part name="parameters" element="ns1:shutdownGracefullyResponse" />
	</wsdl:message>
	<wsdl:message name="getServerDataRequest">
		<wsdl:part name="parameters" element="ns1:getServerData" />
	</wsdl:message>
	<wsdl:message name="getServerDataResponse">
		<wsdl:part name="parameters" element="ns1:getServerDataResponse" />
	</wsdl:message>
	<wsdl:message name="restartRequest">
		<wsdl:part name="parameters" element="ns1:restart" />
	</wsdl:message>
	<wsdl:message name="restartResponse">
		<wsdl:part name="parameters" element="ns1:restartResponse" />
	</wsdl:message>
	<wsdl:message name="getServerDataAsStringRequest">
		<wsdl:part name="parameters" element="ns1:getServerDataAsString" />
	</wsdl:message>
	<wsdl:message name="getServerDataAsStringResponse">
		<wsdl:part name="parameters" element="ns1:getServerDataAsStringResponse" />
	</wsdl:message>
	<wsdl:message name="isAliveRequest">
		<wsdl:part name="parameters" element="ns1:isAlive" />
	</wsdl:message>
	<wsdl:message name="isAliveResponse">
		<wsdl:part name="parameters" element="ns1:isAliveResponse" />
	</wsdl:message>
	<wsdl:message name="shutdownRequest">
		<wsdl:part name="parameters" element="ns1:shutdown" />
	</wsdl:message>
	<wsdl:message name="shutdownResponse">
		<wsdl:part name="parameters" element="ns1:shutdownResponse" />
	</wsdl:message>
	<wsdl:message name="restartGracefullyRequest">
		<wsdl:part name="parameters" element="ns1:restartGracefully" />
	</wsdl:message>
	<wsdl:message name="restartGracefullyResponse">
		<wsdl:part name="parameters" element="ns1:restartGracefullyResponse" />
	</wsdl:message>
	<wsdl:message name="startMaintenanceRequest">
		<wsdl:part name="parameters" element="ns1:startMaintenance" />
	</wsdl:message>
	<wsdl:portType name="ServerAdminPortType">
		<wsdl:operation name="getServerStatus">
			<wsdl:input message="tns:getServerStatusRequest"
				wsaw:Action="urn:getServerStatus" />
			<wsdl:output message="tns:getServerStatusResponse"
				wsaw:Action="urn:getServerStatusResponse" />
			<wsdl:fault message="tns:ServerAdminException" name="ServerAdminException"
				wsaw:Action="urn:getServerStatusServerAdminException" />
		</wsdl:operation>
		<wsdl:operation name="getServerVersion">
			<wsdl:input message="tns:getServerVersionRequest"
				wsaw:Action="urn:getServerVersion" />
			<wsdl:output message="tns:getServerVersionResponse"
				wsaw:Action="urn:getServerVersionResponse" />
		</wsdl:operation>
		<wsdl:operation name="endMaintenance">
			<wsdl:input message="tns:endMaintenanceRequest"
				wsaw:Action="urn:endMaintenance" />
			<wsdl:fault message="tns:ServerAdminException" name="ServerAdminException"
				wsaw:Action="urn:endMaintenanceServerAdminException" />
		</wsdl:operation>
		<wsdl:operation name="shutdownGracefully">
			<wsdl:input message="tns:shutdownGracefullyRequest"
				wsaw:Action="urn:shutdownGracefully" />
			<wsdl:output message="tns:shutdownGracefullyResponse"
				wsaw:Action="urn:shutdownGracefullyResponse" />
		</wsdl:operation>
		<wsdl:operation name="getServerData">
			<wsdl:input message="tns:getServerDataRequest"
				wsaw:Action="urn:getServerData" />
			<wsdl:output message="tns:getServerDataResponse"
				wsaw:Action="urn:getServerDataResponse" />
			<wsdl:fault message="tns:ServerAdminException" name="ServerAdminException"
				wsaw:Action="urn:getServerDataServerAdminException" />
		</wsdl:operation>
		<wsdl:operation name="restart">
			<wsdl:input message="tns:restartRequest" wsaw:Action="urn:restart" />
			<wsdl:output message="tns:restartResponse" wsaw:Action="urn:restartResponse" />
			<wsdl:fault message="tns:ServerAdminException" name="ServerAdminException"
				wsaw:Action="urn:restartServerAdminException" />
		</wsdl:operation>
		<wsdl:operation name="getServerDataAsString">
			<wsdl:input message="tns:getServerDataAsStringRequest"
				wsaw:Action="urn:getServerDataAsString" />
			<wsdl:output message="tns:getServerDataAsStringResponse"
				wsaw:Action="urn:getServerDataAsStringResponse" />
			<wsdl:fault message="tns:ServerAdminException" name="ServerAdminException"
				wsaw:Action="urn:getServerDataAsStringServerAdminException" />
		</wsdl:operation>
		<wsdl:operation name="isAlive">
			<wsdl:input message="tns:isAliveRequest" wsaw:Action="urn:isAlive" />
			<wsdl:output message="tns:isAliveResponse" wsaw:Action="urn:isAliveResponse" />
		</wsdl:operation>
		<wsdl:operation name="shutdown">
			<wsdl:input message="tns:shutdownRequest" wsaw:Action="urn:shutdown" />
			<wsdl:output message="tns:shutdownResponse" wsaw:Action="urn:shutdownResponse" />
		</wsdl:operation>
		<wsdl:operation name="restartGracefully">
			<wsdl:input message="tns:restartGracefullyRequest"
				wsaw:Action="urn:restartGracefully" />
			<wsdl:output message="tns:restartGracefullyResponse"
				wsaw:Action="urn:restartGracefullyResponse" />
			<wsdl:fault message="tns:ServerAdminException" name="ServerAdminException"
				wsaw:Action="urn:restartGracefullyServerAdminException" />
		</wsdl:operation>
		<wsdl:operation name="startMaintenance">
			<wsdl:input message="tns:startMaintenanceRequest"
				wsaw:Action="urn:startMaintenance" />
			<wsdl:fault message="tns:ServerAdminException" name="ServerAdminException"
				wsaw:Action="urn:startMaintenanceServerAdminException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServerAdminSoap11Binding" type="tns:ServerAdminPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="getServerStatus">
			<soap:operation soapAction="urn:getServerStatus"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServerAdminException">
				<soap:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getServerVersion">
			<soap:operation soapAction="urn:getServerVersion"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="endMaintenance">
			<soap:operation soapAction="urn:endMaintenance" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:fault name="ServerAdminException">
				<soap:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="shutdownGracefully">
			<soap:operation soapAction="urn:shutdownGracefully"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServerData">
			<soap:operation soapAction="urn:getServerData" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServerAdminException">
				<soap:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="restart">
			<soap:operation soapAction="urn:restart" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServerAdminException">
				<soap:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="isAlive">
			<soap:operation soapAction="urn:isAlive" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServerDataAsString">
			<soap:operation soapAction="urn:getServerDataAsString"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServerAdminException">
				<soap:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="restartGracefully">
			<soap:operation soapAction="urn:restartGracefully"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServerAdminException">
				<soap:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="shutdown">
			<soap:operation soapAction="urn:shutdown" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="startMaintenance">
			<soap:operation soapAction="urn:startMaintenance"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:fault name="ServerAdminException">
				<soap:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ServerAdminSoap12Binding" type="tns:ServerAdminPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="getServerStatus">
			<soap12:operation soapAction="urn:getServerStatus"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServerAdminException">
				<soap12:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getServerVersion">
			<soap12:operation soapAction="urn:getServerVersion"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="endMaintenance">
			<soap12:operation soapAction="urn:endMaintenance"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:fault name="ServerAdminException">
				<soap12:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="shutdownGracefully">
			<soap12:operation soapAction="urn:shutdownGracefully"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServerData">
			<soap12:operation soapAction="urn:getServerData"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServerAdminException">
				<soap12:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="restart">
			<soap12:operation soapAction="urn:restart" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServerAdminException">
				<soap12:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="isAlive">
			<soap12:operation soapAction="urn:isAlive" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServerDataAsString">
			<soap12:operation soapAction="urn:getServerDataAsString"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServerAdminException">
				<soap12:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="restartGracefully">
			<soap12:operation soapAction="urn:restartGracefully"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServerAdminException">
				<soap12:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="shutdown">
			<soap12:operation soapAction="urn:shutdown" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="startMaintenance">
			<soap12:operation soapAction="urn:startMaintenance"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:fault name="ServerAdminException">
				<soap12:fault use="literal" name="ServerAdminException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ServerAdminHttpBinding" type="tns:ServerAdminPortType">
		<http:binding verb="POST" />
		<wsdl:operation name="getServerStatus">
			<http:operation location="getServerStatus" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServerVersion">
			<http:operation location="getServerVersion" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="endMaintenance">
			<http:operation location="endMaintenance" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="shutdownGracefully">
			<http:operation location="shutdownGracefully" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServerData">
			<http:operation location="getServerData" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="restart">
			<http:operation location="restart" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isAlive">
			<http:operation location="isAlive" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServerDataAsString">
			<http:operation location="getServerDataAsString" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="restartGracefully">
			<http:operation location="restartGracefully" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="shutdown">
			<http:operation location="shutdown" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="startMaintenance">
			<http:operation location="startMaintenance" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServerAdmin">
		<wsdl:port name="ServerAdminHttpsSoap11Endpoint" binding="tns:ServerAdminSoap11Binding">
			<soap:address
				location="https://10.100.3.93:9443/services/ServerAdmin.ServerAdminHttpsSoap11Endpoint/" />
		</wsdl:port>
		<wsdl:port name="ServerAdminHttpsSoap12Endpoint" binding="tns:ServerAdminSoap12Binding">
			<soap12:address
				location="https://10.100.3.93:9443/services/ServerAdmin.ServerAdminHttpsSoap12Endpoint/" />
		</wsdl:port>
		<wsdl:port name="ServerAdminHttpsEndpoint" binding="tns:ServerAdminHttpBinding">
			<http:address
				location="https://10.100.3.93:9443/services/ServerAdmin.ServerAdminHttpsEndpoint/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>