service-stubs/identity/org.wso2.carbon.security.mgt.stub/src/main/resources/KeyStoreAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2542="http://service.keystore.security.carbon.wso2.org/xsd" xmlns:ns="http://service.keystore.security.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2538="http://security.carbon.wso2.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2539="http://base.identity.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.keystore.security.carbon.wso2.org">
    <wsdl:documentation>KeyStoreAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2543="http://service.keystore.security.carbon.wso2.org/xsd" xmlns:ax2541="http://security.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.keystore.security.carbon.wso2.org">
            <xs:import namespace="http://security.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://service.keystore.security.carbon.wso2.org/xsd"/>
            <xs:element name="KeyStoreAdminServiceSecurityConfigException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SecurityConfigException" nillable="true" type="ax2538:SecurityConfigException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteStore">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="keyStoreName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTrustStore">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileData" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeCertFromStore">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="keyStoreName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addKeyStore">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileData" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pvtkeyPass" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
<!--            <xs:element name="getKeyStores">-->
<!--                <xs:complexType>-->
<!--                    <xs:sequence/>-->
<!--                </xs:complexType>-->
<!--            </xs:element>-->
            <xs:element name="getKeyStoresResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2542:KeyStoreData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="importCertToStore">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fileData" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="keyStoreName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStoreEntries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="keyStoreName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStoreEntriesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getKeystoreInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="keyStoreName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getKeystoreInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2542:KeyStoreData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedKeystoreInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="keyStoreName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPaginatedKeystoreInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2542:PaginatedKeyStoreData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFilteredPaginatedKeystoreInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="keyStoreName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="filterString" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFilteredPaginatedKeystoreInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2542:PaginatedKeyStoreData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.keystore.security.carbon.wso2.org/xsd">
            <xs:complexType name="KeyStoreData">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="certs" nillable="true" type="ax2542:CertData"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="ax2542:CertData"/>
                    <xs:element minOccurs="0" name="keyStoreName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="keyStoreType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="privateStore" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pubKeyFilePath" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CertData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="issuerDN" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="notAfter" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="notBefore" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="publicKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serialNumber" nillable="true" type="xs:integer"/>
                    <xs:element minOccurs="0" name="subjectDN" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="version" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaginatedKeyStoreData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="ax2542:CertData"/>
                    <xs:element minOccurs="0" name="keyStoreName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="keyStoreType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paginatedCertData" nillable="true" type="ax2542:PaginatedCertData"/>
                    <xs:element minOccurs="0" name="paginatedKeyData" nillable="true" type="ax2542:PaginatedCertData"/>
                    <xs:element minOccurs="0" name="privateStore" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pubKeyFilePath" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaginatedCertData">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="certDataSet" nillable="true" type="ax2542:CertData"/>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2540="http://base.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://security.carbon.wso2.org/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="SecurityConfigException">
                <xs:complexContent>
                    <xs:extension base="ax2539:IdentityException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addKeyStoreRequest">
        <wsdl:part name="parameters" element="ns:addKeyStore"/>
    </wsdl:message>
    <wsdl:message name="addKeyStoreResponse"/>
    <wsdl:message name="KeyStoreAdminServiceSecurityConfigException">
        <wsdl:part name="parameters" element="ns:KeyStoreAdminServiceSecurityConfigException"/>
    </wsdl:message>
    <wsdl:message name="getStoreEntriesRequest">
        <wsdl:part name="parameters" element="ns:getStoreEntries"/>
    </wsdl:message>
    <wsdl:message name="getStoreEntriesResponse">
        <wsdl:part name="parameters" element="ns:getStoreEntriesResponse"/>
    </wsdl:message>
<!--    <wsdl:message name="getKeyStoresRequest">-->
<!--        <wsdl:part name="parameters" element="ns:getKeyStores"/>-->
<!--    </wsdl:message>-->
    <wsdl:message name="getKeyStoresResponse">
        <wsdl:part name="parameters" element="ns:getKeyStoresResponse"/>
    </wsdl:message>
    <wsdl:message name="removeCertFromStoreRequest">
        <wsdl:part name="parameters" element="ns:removeCertFromStore"/>
    </wsdl:message>
    <wsdl:message name="removeCertFromStoreResponse"/>
    <wsdl:message name="importCertToStoreRequest">
        <wsdl:part name="parameters" element="ns:importCertToStore"/>
    </wsdl:message>
    <wsdl:message name="importCertToStoreResponse"/>
    <wsdl:message name="addTrustStoreRequest">
        <wsdl:part name="parameters" element="ns:addTrustStore"/>
    </wsdl:message>
    <wsdl:message name="addTrustStoreResponse"/>
    <wsdl:message name="getPaginatedKeystoreInfoRequest">
        <wsdl:part name="parameters" element="ns:getPaginatedKeystoreInfo"/>
    </wsdl:message>
    <wsdl:message name="getPaginatedKeystoreInfoResponse">
        <wsdl:part name="parameters" element="ns:getPaginatedKeystoreInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="getKeystoreInfoRequest">
        <wsdl:part name="parameters" element="ns:getKeystoreInfo"/>
    </wsdl:message>
    <wsdl:message name="getKeystoreInfoResponse">
        <wsdl:part name="parameters" element="ns:getKeystoreInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="getFilteredPaginatedKeystoreInfoRequest">
        <wsdl:part name="parameters" element="ns:getFilteredPaginatedKeystoreInfo"/>
    </wsdl:message>
    <wsdl:message name="getFilteredPaginatedKeystoreInfoResponse">
        <wsdl:part name="parameters" element="ns:getFilteredPaginatedKeystoreInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteStoreRequest">
        <wsdl:part name="parameters" element="ns:deleteStore"/>
    </wsdl:message>
    <wsdl:message name="deleteStoreResponse"/>
    <wsdl:portType name="KeyStoreAdminServicePortType">
        <wsdl:operation name="addKeyStore">
            <wsdl:input message="ns:addKeyStoreRequest" wsaw:Action="urn:addKeyStore"/>
            <wsdl:output message="ns:addKeyStoreResponse" wsaw:Action="urn:addKeyStoreResponse"/>
            <wsdl:fault message="ns:KeyStoreAdminServiceSecurityConfigException" name="KeyStoreAdminServiceSecurityConfigException" wsaw:Action="urn:addKeyStoreKeyStoreAdminServiceSecurityConfigException"/>
        </wsdl:operation>
        <wsdl:operation name="getStoreEntries">
            <wsdl:input message="ns:getStoreEntriesRequest" wsaw:Action="urn:getStoreEntries"/>
            <wsdl:output message="ns:getStoreEntriesResponse" wsaw:Action="urn:getStoreEntriesResponse"/>
            <wsdl:fault message="ns:KeyStoreAdminServiceSecurityConfigException" name="KeyStoreAdminServiceSecurityConfigException" wsaw:Action="urn:getStoreEntriesKeyStoreAdminServiceSecurityConfigException"/>
        </wsdl:operation>
        <wsdl:operation name="getKeyStores">
            <wsdl:input message="ns:getKeyStoresRequest" wsaw:Action="urn:getKeyStores"/>
            <wsdl:output message="ns:getKeyStoresResponse" wsaw:Action="urn:getKeyStoresResponse"/>
            <wsdl:fault message="ns:KeyStoreAdminServiceSecurityConfigException" name="KeyStoreAdminServiceSecurityConfigException" wsaw:Action="urn:getKeyStoresKeyStoreAdminServiceSecurityConfigException"/>
        </wsdl:operation>
        <wsdl:operation name="removeCertFromStore">
            <wsdl:input message="ns:removeCertFromStoreRequest" wsaw:Action="urn:removeCertFromStore"/>
            <wsdl:output message="ns:removeCertFromStoreResponse" wsaw:Action="urn:removeCertFromStoreResponse"/>
            <wsdl:fault message="ns:KeyStoreAdminServiceSecurityConfigException" name="KeyStoreAdminServiceSecurityConfigException" wsaw:Action="urn:removeCertFromStoreKeyStoreAdminServiceSecurityConfigException"/>
        </wsdl:operation>
        <wsdl:operation name="importCertToStore">
            <wsdl:input message="ns:importCertToStoreRequest" wsaw:Action="urn:importCertToStore"/>
            <wsdl:output message="ns:importCertToStoreResponse" wsaw:Action="urn:importCertToStoreResponse"/>
            <wsdl:fault message="ns:KeyStoreAdminServiceSecurityConfigException" name="KeyStoreAdminServiceSecurityConfigException" wsaw:Action="urn:importCertToStoreKeyStoreAdminServiceSecurityConfigException"/>
        </wsdl:operation>
        <wsdl:operation name="addTrustStore">
            <wsdl:input message="ns:addTrustStoreRequest" wsaw:Action="urn:addTrustStore"/>
            <wsdl:output message="ns:addTrustStoreResponse" wsaw:Action="urn:addTrustStoreResponse"/>
            <wsdl:fault message="ns:KeyStoreAdminServiceSecurityConfigException" name="KeyStoreAdminServiceSecurityConfigException" wsaw:Action="urn:addTrustStoreKeyStoreAdminServiceSecurityConfigException"/>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedKeystoreInfo">
            <wsdl:input message="ns:getPaginatedKeystoreInfoRequest" wsaw:Action="urn:getPaginatedKeystoreInfo"/>
            <wsdl:output message="ns:getPaginatedKeystoreInfoResponse" wsaw:Action="urn:getPaginatedKeystoreInfoResponse"/>
            <wsdl:fault message="ns:KeyStoreAdminServiceSecurityConfigException" name="KeyStoreAdminServiceSecurityConfigException" wsaw:Action="urn:getPaginatedKeystoreInfoKeyStoreAdminServiceSecurityConfigException"/>
        </wsdl:operation>
        <wsdl:operation name="getKeystoreInfo">
            <wsdl:input message="ns:getKeystoreInfoRequest" wsaw:Action="urn:getKeystoreInfo"/>
            <wsdl:output message="ns:getKeystoreInfoResponse" wsaw:Action="urn:getKeystoreInfoResponse"/>
            <wsdl:fault message="ns:KeyStoreAdminServiceSecurityConfigException" name="KeyStoreAdminServiceSecurityConfigException" wsaw:Action="urn:getKeystoreInfoKeyStoreAdminServiceSecurityConfigException"/>
        </wsdl:operation>
        <wsdl:operation name="getFilteredPaginatedKeystoreInfo">
            <wsdl:input message="ns:getFilteredPaginatedKeystoreInfoRequest" wsaw:Action="urn:getFilteredPaginatedKeystoreInfo"/>
            <wsdl:output message="ns:getFilteredPaginatedKeystoreInfoResponse" wsaw:Action="urn:getFilteredPaginatedKeystoreInfoResponse"/>
            <wsdl:fault message="ns:KeyStoreAdminServiceSecurityConfigException" name="KeyStoreAdminServiceSecurityConfigException" wsaw:Action="urn:getFilteredPaginatedKeystoreInfoKeyStoreAdminServiceSecurityConfigException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteStore">
            <wsdl:input message="ns:deleteStoreRequest" wsaw:Action="urn:deleteStore"/>
            <wsdl:output message="ns:deleteStoreResponse" wsaw:Action="urn:deleteStoreResponse"/>
            <wsdl:fault message="ns:KeyStoreAdminServiceSecurityConfigException" name="KeyStoreAdminServiceSecurityConfigException" wsaw:Action="urn:deleteStoreKeyStoreAdminServiceSecurityConfigException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="KeyStoreAdminServiceSoap11Binding" type="ns:KeyStoreAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addKeyStore">
            <soap:operation soapAction="urn:addKeyStore" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStoreEntries">
            <soap:operation soapAction="urn:getStoreEntries" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getKeyStores">
            <soap:operation soapAction="urn:getKeyStores" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeCertFromStore">
            <soap:operation soapAction="urn:removeCertFromStore" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="importCertToStore">
            <soap:operation soapAction="urn:importCertToStore" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTrustStore">
            <soap:operation soapAction="urn:addTrustStore" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedKeystoreInfo">
            <soap:operation soapAction="urn:getPaginatedKeystoreInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getKeystoreInfo">
            <soap:operation soapAction="urn:getKeystoreInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFilteredPaginatedKeystoreInfo">
            <soap:operation soapAction="urn:getFilteredPaginatedKeystoreInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteStore">
            <soap:operation soapAction="urn:deleteStore" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="KeyStoreAdminServiceSoap12Binding" type="ns:KeyStoreAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addKeyStore">
            <soap12:operation soapAction="urn:addKeyStore" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStoreEntries">
            <soap12:operation soapAction="urn:getStoreEntries" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getKeyStores">
            <soap12:operation soapAction="urn:getKeyStores" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeCertFromStore">
            <soap12:operation soapAction="urn:removeCertFromStore" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="importCertToStore">
            <soap12:operation soapAction="urn:importCertToStore" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTrustStore">
            <soap12:operation soapAction="urn:addTrustStore" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedKeystoreInfo">
            <soap12:operation soapAction="urn:getPaginatedKeystoreInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getKeystoreInfo">
            <soap12:operation soapAction="urn:getKeystoreInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFilteredPaginatedKeystoreInfo">
            <soap12:operation soapAction="urn:getFilteredPaginatedKeystoreInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteStore">
            <soap12:operation soapAction="urn:deleteStore" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="KeyStoreAdminServiceSecurityConfigException">
                <soap12:fault use="literal" name="KeyStoreAdminServiceSecurityConfigException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="KeyStoreAdminServiceHttpBinding" type="ns:KeyStoreAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addKeyStore">
            <http:operation location="addKeyStore"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStoreEntries">
            <http:operation location="getStoreEntries"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getKeyStores">
            <http:operation location="getKeyStores"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeCertFromStore">
            <http:operation location="removeCertFromStore"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="importCertToStore">
            <http:operation location="importCertToStore"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTrustStore">
            <http:operation location="addTrustStore"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPaginatedKeystoreInfo">
            <http:operation location="getPaginatedKeystoreInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getKeystoreInfo">
            <http:operation location="getKeystoreInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFilteredPaginatedKeystoreInfo">
            <http:operation location="getFilteredPaginatedKeystoreInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteStore">
            <http:operation location="deleteStore"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="KeyStoreAdminService">
        <wsdl:port name="KeyStoreAdminServiceHttpsSoap11Endpoint" binding="ns:KeyStoreAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/KeyStoreAdminService.KeyStoreAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="KeyStoreAdminServiceHttpsSoap12Endpoint" binding="ns:KeyStoreAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/KeyStoreAdminService.KeyStoreAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="KeyStoreAdminServiceHttpsEndpoint" binding="ns:KeyStoreAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/KeyStoreAdminService.KeyStoreAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>