dependencies/axis2/1.6.1-wso2v11/modules/jaxws-integration/test/org/apache/axis2/jaxws/sample/addressbook/META-INF/AddressBookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions targetNamespace="http://org/apache/axis2/jaxws/sample/addressbook"
    xmlns:impl="http://org/apache/axis2/jaxws/sample/addressbook" 
    xmlns:intf="http://org/apache/axis2/jaxws/sample/addressbook" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
     <schema elementFormDefault="qualified" targetNamespace="http://org/apache/axis2/jaxws/sample/addressbook" 
         xmlns="http://www.w3.org/2001/XMLSchema" 
         xmlns:impl="http://org/apache/axis2/jaxws/sample/addressbook" 
         xmlns:intf="http://org/apache/axis2/jaxws/sample/addressbook" 
         xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
         xmlns:xsd="http://www.w3.org/2001/XMLSchema">

       <complexType name="AddressBookEntry">
         <sequence>
           <element name="firstName" nillable="false" type="xsd:string"/>
           <element name="lastName" nillable="false" type="xsd:string"/>
           <element name="phone" nillable="true" type="xsd:string"/>
           <element name="street" nillable="true" type="xsd:string"/>
           <element name="city" nillable="true" type="xsd:string"/>
           <element name="state" nillable="true" type="xsd:string"/>
         </sequence>
       </complexType>
    
       <element name="addEntry">
         <complexType>
           <sequence>
             <element name="entry" nillable="false" type="impl:AddressBookEntry"/>
           </sequence>
         </complexType>
       </element>
    
       <element name="addEntryResponse">
         <complexType>
           <sequence>
             <element name="status" nillable="false" type="xsd:boolean"/>
           </sequence>
         </complexType>
       </element>

       <element name="findEntryByName">
         <complexType>
           <sequence>
             <element name="firstname" nillable="false" type="xsd:string"/>
             <element name="lastname" nillable="false" type="xsd:string"/>
           </sequence>
         </complexType>
       </element>
       
       <element name="findEntryByNameResponse">
         <complexType>
           <sequence>
             <element name="entry" nillable="false" type="impl:AddressBookEntry"/>
           </sequence>
         </complexType>
       </element>

     </schema>
   </wsdl:types>
 
  <wsdl:message name="addEntryRequest">
    <wsdl:part element="impl:addEntry" name="parameters"/>
  </wsdl:message>
 
  <wsdl:message name="addEntryResponse">
    <wsdl:part element="impl:addEntryResponse" name="parameters"/>
  </wsdl:message>

 <wsdl:message name="findEntryByNameRequest">
    <wsdl:part element="impl:findEntryByName" name="parameters"/>
  </wsdl:message>
 
  <wsdl:message name="findEntryByNameResponse">
    <wsdl:part element="impl:findEntryByNameResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="AddressBook">
    <wsdl:operation name="addEntry">
      <wsdl:input message="impl:addEntryRequest" name="addEntryRequest"/>
      <wsdl:output message="impl:addEntryResponse" name="addEntryResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="findEntryByName">
      <wsdl:input message="impl:findEntryByNameRequest" name="findEntryByNameRequest"/>
      <wsdl:output message="impl:findEntryByNameResponse" name="findEntryByNameResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="AddressBookSoap" type="impl:AddressBook">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="addEntry">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="addEntryRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEntryResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="findEntryByName">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="findEntryByNameRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findEntryByNameResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="AddressBookService">
    <wsdl:port binding="impl:AddressBookSoap" name="AddressBook">
      <wsdlsoap:address location="http://localhost:6060/axis2/services/AddressBookService"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>