dependencies/axis2/1.6.1-wso2v11/modules/integration/test-resources/BaseDataTypes.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org">
            <xs:element name="retBool">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inBool" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retBoolResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retSByte">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inSByte" nillable="true" type="xs:byte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retSByteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:byte"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retByteArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inByteArray" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retByteArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retDouble">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inDouble" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retDoubleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retFloat">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inFloat" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retFloatResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retSingle">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inSingle" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retSingleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retChar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inChar" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retCharResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retInt">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inInt" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retIntResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retUShort">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inUShort" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retUShortResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retObject">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inObject" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retObjectResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retGuid">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inGuid" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retGuidResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inString" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retUri">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inUri" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retUriResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retDecimal">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inDecimal" nillable="true" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retDecimalResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retULong">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inULong" nillable="true" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retULongResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retDateTime">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inDateTime" nillable="true" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retDateTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retTimeSpan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inTimeSpan" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retTimeSpanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retQName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inQName" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retQNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retLong">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inLong" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retLongResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retUInt">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inUInt" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retUIntResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retByte">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inByte" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retByteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retShort">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inShort" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retShortResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="retUShortRequest">
        <wsdl:part name="parameters" element="ns:retUShort"/>
    </wsdl:message>
    <wsdl:message name="retUShortResponse">
        <wsdl:part name="parameters" element="ns:retUShortResponse"/>
    </wsdl:message>
    <wsdl:message name="retSByteRequest">
        <wsdl:part name="parameters" element="ns:retSByte"/>
    </wsdl:message>
    <wsdl:message name="retSByteResponse">
        <wsdl:part name="parameters" element="ns:retSByteResponse"/>
    </wsdl:message>
    <wsdl:message name="retStringRequest">
        <wsdl:part name="parameters" element="ns:retString"/>
    </wsdl:message>
    <wsdl:message name="retStringResponse">
        <wsdl:part name="parameters" element="ns:retStringResponse"/>
    </wsdl:message>
    <wsdl:message name="retCharRequest">
        <wsdl:part name="parameters" element="ns:retChar"/>
    </wsdl:message>
    <wsdl:message name="retCharResponse">
        <wsdl:part name="parameters" element="ns:retCharResponse"/>
    </wsdl:message>
    <wsdl:message name="retTimeSpanRequest">
        <wsdl:part name="parameters" element="ns:retTimeSpan"/>
    </wsdl:message>
    <wsdl:message name="retTimeSpanResponse">
        <wsdl:part name="parameters" element="ns:retTimeSpanResponse"/>
    </wsdl:message>
    <wsdl:message name="retUriRequest">
        <wsdl:part name="parameters" element="ns:retUri"/>
    </wsdl:message>
    <wsdl:message name="retUriResponse">
        <wsdl:part name="parameters" element="ns:retUriResponse"/>
    </wsdl:message>
    <wsdl:message name="retGuidRequest">
        <wsdl:part name="parameters" element="ns:retGuid"/>
    </wsdl:message>
    <wsdl:message name="retGuidResponse">
        <wsdl:part name="parameters" element="ns:retGuidResponse"/>
    </wsdl:message>
    <wsdl:message name="retObjectRequest">
        <wsdl:part name="parameters" element="ns:retObject"/>
    </wsdl:message>
    <wsdl:message name="retObjectResponse">
        <wsdl:part name="parameters" element="ns:retObjectResponse"/>
    </wsdl:message>
    <wsdl:message name="retIntRequest">
        <wsdl:part name="parameters" element="ns:retInt"/>
    </wsdl:message>
    <wsdl:message name="retIntResponse">
        <wsdl:part name="parameters" element="ns:retIntResponse"/>
    </wsdl:message>
    <wsdl:message name="retFloatRequest">
        <wsdl:part name="parameters" element="ns:retFloat"/>
    </wsdl:message>
    <wsdl:message name="retFloatResponse">
        <wsdl:part name="parameters" element="ns:retFloatResponse"/>
    </wsdl:message>
    <wsdl:message name="retBoolRequest">
        <wsdl:part name="parameters" element="ns:retBool"/>
    </wsdl:message>
    <wsdl:message name="retBoolResponse">
        <wsdl:part name="parameters" element="ns:retBoolResponse"/>
    </wsdl:message>
    <wsdl:message name="retShortRequest">
        <wsdl:part name="parameters" element="ns:retShort"/>
    </wsdl:message>
    <wsdl:message name="retShortResponse">
        <wsdl:part name="parameters" element="ns:retShortResponse"/>
    </wsdl:message>
    <wsdl:message name="retULongRequest">
        <wsdl:part name="parameters" element="ns:retULong"/>
    </wsdl:message>
    <wsdl:message name="retULongResponse">
        <wsdl:part name="parameters" element="ns:retULongResponse"/>
    </wsdl:message>
    <wsdl:message name="retByteArrayRequest">
        <wsdl:part name="parameters" element="ns:retByteArray"/>
    </wsdl:message>
    <wsdl:message name="retByteArrayResponse">
        <wsdl:part name="parameters" element="ns:retByteArrayResponse"/>
    </wsdl:message>
    <wsdl:message name="retByteRequest">
        <wsdl:part name="parameters" element="ns:retByte"/>
    </wsdl:message>
    <wsdl:message name="retByteResponse">
        <wsdl:part name="parameters" element="ns:retByteResponse"/>
    </wsdl:message>
    <wsdl:message name="retQNameRequest">
        <wsdl:part name="parameters" element="ns:retQName"/>
    </wsdl:message>
    <wsdl:message name="retQNameResponse">
        <wsdl:part name="parameters" element="ns:retQNameResponse"/>
    </wsdl:message>
    <wsdl:message name="retUIntRequest">
        <wsdl:part name="parameters" element="ns:retUInt"/>
    </wsdl:message>
    <wsdl:message name="retUIntResponse">
        <wsdl:part name="parameters" element="ns:retUIntResponse"/>
    </wsdl:message>
    <wsdl:message name="retDoubleRequest">
        <wsdl:part name="parameters" element="ns:retDouble"/>
    </wsdl:message>
    <wsdl:message name="retDoubleResponse">
        <wsdl:part name="parameters" element="ns:retDoubleResponse"/>
    </wsdl:message>
    <wsdl:message name="retDecimalRequest">
        <wsdl:part name="parameters" element="ns:retDecimal"/>
    </wsdl:message>
    <wsdl:message name="retDecimalResponse">
        <wsdl:part name="parameters" element="ns:retDecimalResponse"/>
    </wsdl:message>
    <wsdl:message name="retDateTimeRequest">
        <wsdl:part name="parameters" element="ns:retDateTime"/>
    </wsdl:message>
    <wsdl:message name="retDateTimeResponse">
        <wsdl:part name="parameters" element="ns:retDateTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="retLongRequest">
        <wsdl:part name="parameters" element="ns:retLong"/>
    </wsdl:message>
    <wsdl:message name="retLongResponse">
        <wsdl:part name="parameters" element="ns:retLongResponse"/>
    </wsdl:message>
    <wsdl:message name="retSingleRequest">
        <wsdl:part name="parameters" element="ns:retSingle"/>
    </wsdl:message>
    <wsdl:message name="retSingleResponse">
        <wsdl:part name="parameters" element="ns:retSingleResponse"/>
    </wsdl:message>
    <wsdl:portType name="BaseDataTypesPortType">
        <wsdl:operation name="retUShort">
            <wsdl:input message="ns:retUShortRequest" wsaw:Action="urn:retUShort"/>
            <wsdl:output message="ns:retUShortResponse" wsaw:Action="urn:retUShortResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retSByte">
            <wsdl:input message="ns:retSByteRequest" wsaw:Action="urn:retSByte"/>
            <wsdl:output message="ns:retSByteResponse" wsaw:Action="urn:retSByteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retString">
            <wsdl:input message="ns:retStringRequest" wsaw:Action="urn:retString"/>
            <wsdl:output message="ns:retStringResponse" wsaw:Action="urn:retStringResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retChar">
            <wsdl:input message="ns:retCharRequest" wsaw:Action="urn:retChar"/>
            <wsdl:output message="ns:retCharResponse" wsaw:Action="urn:retCharResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retTimeSpan">
            <wsdl:input message="ns:retTimeSpanRequest" wsaw:Action="urn:retTimeSpan"/>
            <wsdl:output message="ns:retTimeSpanResponse" wsaw:Action="urn:retTimeSpanResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retUri">
            <wsdl:input message="ns:retUriRequest" wsaw:Action="urn:retUri"/>
            <wsdl:output message="ns:retUriResponse" wsaw:Action="urn:retUriResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retGuid">
            <wsdl:input message="ns:retGuidRequest" wsaw:Action="urn:retGuid"/>
            <wsdl:output message="ns:retGuidResponse" wsaw:Action="urn:retGuidResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retObject">
            <wsdl:input message="ns:retObjectRequest" wsaw:Action="urn:retObject"/>
            <wsdl:output message="ns:retObjectResponse" wsaw:Action="urn:retObjectResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retInt">
            <wsdl:input message="ns:retIntRequest" wsaw:Action="urn:retInt"/>
            <wsdl:output message="ns:retIntResponse" wsaw:Action="urn:retIntResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retFloat">
            <wsdl:input message="ns:retFloatRequest" wsaw:Action="urn:retFloat"/>
            <wsdl:output message="ns:retFloatResponse" wsaw:Action="urn:retFloatResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retBool">
            <wsdl:input message="ns:retBoolRequest" wsaw:Action="urn:retBool"/>
            <wsdl:output message="ns:retBoolResponse" wsaw:Action="urn:retBoolResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retShort">
            <wsdl:input message="ns:retShortRequest" wsaw:Action="urn:retShort"/>
            <wsdl:output message="ns:retShortResponse" wsaw:Action="urn:retShortResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retULong">
            <wsdl:input message="ns:retULongRequest" wsaw:Action="urn:retULong"/>
            <wsdl:output message="ns:retULongResponse" wsaw:Action="urn:retULongResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retByteArray">
            <wsdl:input message="ns:retByteArrayRequest" wsaw:Action="urn:retByteArray"/>
            <wsdl:output message="ns:retByteArrayResponse" wsaw:Action="urn:retByteArrayResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retByte">
            <wsdl:input message="ns:retByteRequest" wsaw:Action="urn:retByte"/>
            <wsdl:output message="ns:retByteResponse" wsaw:Action="urn:retByteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retQName">
            <wsdl:input message="ns:retQNameRequest" wsaw:Action="urn:retQName"/>
            <wsdl:output message="ns:retQNameResponse" wsaw:Action="urn:retQNameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retUInt">
            <wsdl:input message="ns:retUIntRequest" wsaw:Action="urn:retUInt"/>
            <wsdl:output message="ns:retUIntResponse" wsaw:Action="urn:retUIntResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retDouble">
            <wsdl:input message="ns:retDoubleRequest" wsaw:Action="urn:retDouble"/>
            <wsdl:output message="ns:retDoubleResponse" wsaw:Action="urn:retDoubleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retDecimal">
            <wsdl:input message="ns:retDecimalRequest" wsaw:Action="urn:retDecimal"/>
            <wsdl:output message="ns:retDecimalResponse" wsaw:Action="urn:retDecimalResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retDateTime">
            <wsdl:input message="ns:retDateTimeRequest" wsaw:Action="urn:retDateTime"/>
            <wsdl:output message="ns:retDateTimeResponse" wsaw:Action="urn:retDateTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retLong">
            <wsdl:input message="ns:retLongRequest" wsaw:Action="urn:retLong"/>
            <wsdl:output message="ns:retLongResponse" wsaw:Action="urn:retLongResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retSingle">
            <wsdl:input message="ns:retSingleRequest" wsaw:Action="urn:retSingle"/>
            <wsdl:output message="ns:retSingleResponse" wsaw:Action="urn:retSingleResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BaseDataTypesSoap11Binding" type="ns:BaseDataTypesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="retSByte">
            <soap:operation soapAction="urn:retSByte" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUShort">
            <soap:operation soapAction="urn:retUShort" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retString">
            <soap:operation soapAction="urn:retString" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retChar">
            <soap:operation soapAction="urn:retChar" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retTimeSpan">
            <soap:operation soapAction="urn:retTimeSpan" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUri">
            <soap:operation soapAction="urn:retUri" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retInt">
            <soap:operation soapAction="urn:retInt" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retObject">
            <soap:operation soapAction="urn:retObject" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retGuid">
            <soap:operation soapAction="urn:retGuid" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retFloat">
            <soap:operation soapAction="urn:retFloat" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retBool">
            <soap:operation soapAction="urn:retBool" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retShort">
            <soap:operation soapAction="urn:retShort" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retByteArray">
            <soap:operation soapAction="urn:retByteArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retULong">
            <soap:operation soapAction="urn:retULong" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retQName">
            <soap:operation soapAction="urn:retQName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retByte">
            <soap:operation soapAction="urn:retByte" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUInt">
            <soap:operation soapAction="urn:retUInt" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDouble">
            <soap:operation soapAction="urn:retDouble" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDecimal">
            <soap:operation soapAction="urn:retDecimal" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDateTime">
            <soap:operation soapAction="urn:retDateTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retLong">
            <soap:operation soapAction="urn:retLong" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retSingle">
            <soap:operation soapAction="urn:retSingle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BaseDataTypesSoap12Binding" type="ns:BaseDataTypesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="retSByte">
            <soap12:operation soapAction="urn:retSByte" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUShort">
            <soap12:operation soapAction="urn:retUShort" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retString">
            <soap12:operation soapAction="urn:retString" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retChar">
            <soap12:operation soapAction="urn:retChar" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retTimeSpan">
            <soap12:operation soapAction="urn:retTimeSpan" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUri">
            <soap12:operation soapAction="urn:retUri" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retInt">
            <soap12:operation soapAction="urn:retInt" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retObject">
            <soap12:operation soapAction="urn:retObject" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retGuid">
            <soap12:operation soapAction="urn:retGuid" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retFloat">
            <soap12:operation soapAction="urn:retFloat" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retBool">
            <soap12:operation soapAction="urn:retBool" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retShort">
            <soap12:operation soapAction="urn:retShort" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retByteArray">
            <soap12:operation soapAction="urn:retByteArray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retULong">
            <soap12:operation soapAction="urn:retULong" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retQName">
            <soap12:operation soapAction="urn:retQName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retByte">
            <soap12:operation soapAction="urn:retByte" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUInt">
            <soap12:operation soapAction="urn:retUInt" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDouble">
            <soap12:operation soapAction="urn:retDouble" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDecimal">
            <soap12:operation soapAction="urn:retDecimal" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDateTime">
            <soap12:operation soapAction="urn:retDateTime" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retLong">
            <soap12:operation soapAction="urn:retLong" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retSingle">
            <soap12:operation soapAction="urn:retSingle" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BaseDataTypesHttpBinding" type="ns:BaseDataTypesPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="retSByte">
            <http:operation location="retSByte"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUShort">
            <http:operation location="retUShort"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retString">
            <http:operation location="retString"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retChar">
            <http:operation location="retChar"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retTimeSpan">
            <http:operation location="retTimeSpan"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUri">
            <http:operation location="retUri"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retInt">
            <http:operation location="retInt"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retObject">
            <http:operation location="retObject"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retGuid">
            <http:operation location="retGuid"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retFloat">
            <http:operation location="retFloat"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retBool">
            <http:operation location="retBool"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retShort">
            <http:operation location="retShort"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retByteArray">
            <http:operation location="retByteArray"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retULong">
            <http:operation location="retULong"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retQName">
            <http:operation location="retQName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retByte">
            <http:operation location="retByte"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retUInt">
            <http:operation location="retUInt"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDouble">
            <http:operation location="retDouble"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDecimal">
            <http:operation location="retDecimal"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retDateTime">
            <http:operation location="retDateTime"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retLong">
            <http:operation location="retLong"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retSingle">
            <http:operation location="retSingle"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BaseDataTypes">
        <wsdl:port name="BaseDataTypesHttpSoap11Endpoint" binding="ns:BaseDataTypesSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/BaseDataTypes"/>
        </wsdl:port>
        <wsdl:port name="BaseDataTypesHttpSoap12Endpoint" binding="ns:BaseDataTypesSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/BaseDataTypes"/>
        </wsdl:port>
        <wsdl:port name="BaseDataTypesHttpEndpoint" binding="ns:BaseDataTypesHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/BaseDataTypes"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
