service-stubs/org.wso2.carbon.admin.advisory.mgt.stub/src/main/resources/AdminAdvisoryManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax23="http://dto.mgt.advisory.admin.carbon.wso2.org/xsd" xmlns:ns="http://service.mgt.advisory.admin.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://exception.mgt.advisory.admin.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.mgt.advisory.admin.carbon.wso2.org">
    <wsdl:documentation>AdminAdvisoryManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.advisory.admin.carbon.wso2.org/xsd">
            <xs:complexType name="AdminAdvisoryBannerDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bannerContent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="enableBanner" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://exception.mgt.advisory.admin.carbon.wso2.org/xsd" xmlns:ax24="http://dto.mgt.advisory.admin.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.mgt.advisory.admin.carbon.wso2.org">
            <xs:import namespace="http://exception.mgt.advisory.admin.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.mgt.advisory.admin.carbon.wso2.org/xsd"/>
            <xs:element name="AdminAdvisoryManagementServiceAdminAdvisoryMgtException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AdminAdvisoryMgtException" nillable="true" type="ax22:AdminAdvisoryMgtException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveAdminAdvisoryConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="adminAdvisoryBanner" nillable="true" type="ax24:AdminAdvisoryBannerDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdminAdvisoryConfig">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdminAdvisoryConfigResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:AdminAdvisoryBannerDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.mgt.advisory.admin.carbon.wso2.org/xsd">
            <xs:complexType name="AdminAdvisoryMgtException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAdminAdvisoryConfigRequest">
        <wsdl:part name="parameters" element="ns:getAdminAdvisoryConfig"/>
    </wsdl:message>
    <wsdl:message name="getAdminAdvisoryConfigResponse">
        <wsdl:part name="parameters" element="ns:getAdminAdvisoryConfigResponse"/>
    </wsdl:message>
    <wsdl:message name="AdminAdvisoryManagementServiceAdminAdvisoryMgtException">
        <wsdl:part name="parameters" element="ns:AdminAdvisoryManagementServiceAdminAdvisoryMgtException"/>
    </wsdl:message>
    <wsdl:message name="saveAdminAdvisoryConfigRequest">
        <wsdl:part name="parameters" element="ns:saveAdminAdvisoryConfig"/>
    </wsdl:message>
    <wsdl:message name="saveAdminAdvisoryConfigResponse"/>
    <wsdl:portType name="AdminAdvisoryManagementServicePortType">
        <wsdl:operation name="getAdminAdvisoryConfig">
            <wsdl:input message="ns:getAdminAdvisoryConfigRequest" wsaw:Action="urn:getAdminAdvisoryConfig"/>
            <wsdl:output message="ns:getAdminAdvisoryConfigResponse" wsaw:Action="urn:getAdminAdvisoryConfigResponse"/>
            <wsdl:fault message="ns:AdminAdvisoryManagementServiceAdminAdvisoryMgtException" name="AdminAdvisoryManagementServiceAdminAdvisoryMgtException" wsaw:Action="urn:getAdminAdvisoryConfigAdminAdvisoryManagementServiceAdminAdvisoryMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="saveAdminAdvisoryConfig">
            <wsdl:input message="ns:saveAdminAdvisoryConfigRequest" wsaw:Action="urn:saveAdminAdvisoryConfig"/>
            <wsdl:output message="ns:saveAdminAdvisoryConfigResponse" wsaw:Action="urn:saveAdminAdvisoryConfigResponse"/>
            <wsdl:fault message="ns:AdminAdvisoryManagementServiceAdminAdvisoryMgtException" name="AdminAdvisoryManagementServiceAdminAdvisoryMgtException" wsaw:Action="urn:saveAdminAdvisoryConfigAdminAdvisoryManagementServiceAdminAdvisoryMgtException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdminAdvisoryManagementServiceSoap11Binding" type="ns:AdminAdvisoryManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAdminAdvisoryConfig">
            <soap:operation soapAction="urn:getAdminAdvisoryConfig" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminAdvisoryManagementServiceAdminAdvisoryMgtException">
                <soap:fault use="literal" name="AdminAdvisoryManagementServiceAdminAdvisoryMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveAdminAdvisoryConfig">
            <soap:operation soapAction="urn:saveAdminAdvisoryConfig" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminAdvisoryManagementServiceAdminAdvisoryMgtException">
                <soap:fault use="literal" name="AdminAdvisoryManagementServiceAdminAdvisoryMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AdminAdvisoryManagementServiceSoap12Binding" type="ns:AdminAdvisoryManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAdminAdvisoryConfig">
            <soap12:operation soapAction="urn:getAdminAdvisoryConfig" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminAdvisoryManagementServiceAdminAdvisoryMgtException">
                <soap12:fault use="literal" name="AdminAdvisoryManagementServiceAdminAdvisoryMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveAdminAdvisoryConfig">
            <soap12:operation soapAction="urn:saveAdminAdvisoryConfig" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminAdvisoryManagementServiceAdminAdvisoryMgtException">
                <soap12:fault use="literal" name="AdminAdvisoryManagementServiceAdminAdvisoryMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AdminAdvisoryManagementServiceHttpBinding" type="ns:AdminAdvisoryManagementServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAdminAdvisoryConfig">
            <http:operation location="getAdminAdvisoryConfig"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveAdminAdvisoryConfig">
            <http:operation location="saveAdminAdvisoryConfig"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AdminAdvisoryManagementService">
        <wsdl:port name="AdminAdvisoryManagementServiceHttpsSoap11Endpoint" binding="ns:AdminAdvisoryManagementServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/AdminAdvisoryManagementService.AdminAdvisoryManagementServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AdminAdvisoryManagementServiceHttpsSoap12Endpoint" binding="ns:AdminAdvisoryManagementServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/AdminAdvisoryManagementService.AdminAdvisoryManagementServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AdminAdvisoryManagementServiceHttpsEndpoint" binding="ns:AdminAdvisoryManagementServiceHttpBinding">
            <http:address location="https://localhost:9443/services/AdminAdvisoryManagementService.AdminAdvisoryManagementServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
