dependencies/axis2/1.6.1-wso2v11/modules/jaxws-integration/test/org/apache/axis2/jaxws/proxy/rpclit/META-INF/RPCLit.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions targetNamespace="http://org/apache/axis2/jaxws/proxy/rpclit" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://org/apache/axis2/jaxws/proxy/rpclit" xmlns:intf="http://org/apache/axis2/jaxws/proxy/rpclit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://org/apache/axis2/jaxws/proxy/rpclit" xmlns="http://www.w3.org/2001/XMLSchema">
  
  <!-- Example of a QName list.  This should map to javax.xml.namespace.QName[] -->
   <xsd:simpleType name="QNameList">
      <xsd:list itemType="xsd:QName"/>
   </xsd:simpleType>
   <element name="QNameList" nillable="true" type="impl:QNameList"/>

  <!-- Example of a Calendar list.  This should map to java.util.Calendar[] -->
   <xsd:simpleType name="CalendarList">   
      <xsd:list itemType="xsd:dateTime"/> 
   </xsd:simpleType>                 
   <element name="CalendarList" nillable="true" type="impl:CalendarList"/>
  
  <!-- Example of a String list.  This should map to java.lang.String[] -->
   <xsd:simpleType name="StringList">   
      <xsd:list itemType="xsd:string"/> 
   </xsd:simpleType>
   <element name="StringList" nillable="true" type="impl:StringList"/>
  
  <!-- Example of a xsd:negativeInteger list.  This should map to java.math.BigInteger[] -->
   <xsd:simpleType name="BigIntegerList">
      <xsd:restriction>     
          <xsd:simpleType> 
             <xsd:list itemType="xsd:negativeInteger"/>
          </xsd:simpleType>
      </xsd:restriction>
   </xsd:simpleType>
   <element name="BigIntegerList" nillable="true" type="impl:BigIntegerList"/>
  
  <!-- Example of a xsd:unsignedInt list.  This should map to long[] -->
   <xsd:simpleType name="LongList">
      <xsd:list>
          <xsd:simpleType>
             <xsd:restriction base="xsd:unsignedInt"/>
          </xsd:simpleType>
      </xsd:list>
   </xsd:simpleType>
   <element name="LongList" nillable="true" type="impl:LongList"/>
   
  <!-- Example of an Enumeration type.  This should map to Enum.java -->  
   <xsd:simpleType name="Enum">
      <xsd:restriction base="xsd:string">
          <xsd:enumeration value="one"/>                      
          <xsd:enumeration value="two"/>                    
          <xsd:enumeration value="three"/>                    
      </xsd:restriction>
   </xsd:simpleType>
   <element name="Enum" nillable="true" type="impl:Enum"/>
 
  <!-- Example of a xsd:enumeration list.  This should map to Enum[] -->  
   <xsd:simpleType name="EnumList">
      <xsd:list itemType="impl:Enum"/> 
   </xsd:simpleType>
   <element name="EnumList" nillable="true" type="impl:EnumList"/>
  
  <!-- Example of a xsd:enumeration embedded list.  This should map to EnumList2[] --> 
   <xsd:simpleType name="EnumList2">
      <xsd:list>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Apple" />
              <xsd:enumeration value="Orange" />
              <xsd:enumeration value="Grape" />
            </xsd:restriction>
          </xsd:simpleType>
      </xsd:list>
   </xsd:simpleType>
   <element name="EnumList2" nillable="true" type="impl:EnumList2"/> 

   <xsd:complexType name="complexAll">
      <xsd:all>
          <xsd:element name="myInt" type="xsd:int"/>
          <xsd:element name="myString" type="xsd:string"/>
          <xsd:element name="Enum" type="impl:Enum"/>
          <xsd:element name="myQNameList" type="impl:QNameList"/>
          <xsd:element name="myCalendarList" type="impl:CalendarList"/>
          <xsd:element name="myStringList" type="impl:StringList"/>
          <xsd:element name="myBigIntegerList" type="impl:BigIntegerList"/>
          <xsd:element name="myLongList" type="impl:LongList"/>
          <xsd:element name="myEnumList" type="impl:EnumList"/>
          <xsd:element name="myEnumList2" type="impl:EnumList2"/>
      </xsd:all>
   </xsd:complexType>
   
   <xsd:element name="headerParam" type="xsd:string" />
   <xsd:element name="headerReturn" type="xsd:string" />
   
    <xsd:element name="myFault" type="xsd:int" />
  </schema>
 </wsdl:types>

   <wsdl:message name="testListsResponse">

      <wsdl:part name="testListsReturn" type="impl:QNameList"/>

   </wsdl:message>

   <wsdl:message name="testListsRequest">

      <wsdl:part name="arg_0_0" type="impl:QNameList"/>

      <wsdl:part name="arg_1_0" type="impl:CalendarList"/>

      <wsdl:part name="arg_2_0" type="impl:StringList"/>
      
      <wsdl:part name="arg_3_0" type="impl:BigIntegerList"/>
      
      <wsdl:part name="arg_4_0" type="impl:LongList"/>
      
      <wsdl:part name="arg_5_0" type="impl:EnumList"/>
      
      <wsdl:part name="arg_7_0" type="impl:EnumList2"/>
      
      <wsdl:part name="arg_6_0" type="impl:complexAll"/>

   </wsdl:message>
   
   
   <wsdl:message name="testCalendarList1Response">

      <wsdl:part name="testCalendarList1Return" type="impl:CalendarList"/>

   </wsdl:message>

   <wsdl:message name="testCalendarList1Request">

      <wsdl:part name="arg_1_0" type="impl:CalendarList"/>

   </wsdl:message>
   
   <wsdl:message name="testStringList2Response">

      <wsdl:part name="testStringList2Return" type="impl:StringList"/>

   </wsdl:message>

   <wsdl:message name="testStringList2Request">

      <wsdl:part name="arg_2_0" type="impl:StringList"/>

   </wsdl:message>
   
   <wsdl:message name="testBigIntegerList3Response">

      <wsdl:part name="testBigIntegerList3Return" type="impl:BigIntegerList"/>

   </wsdl:message>

   <wsdl:message name="testBigIntegerList3Request">

      <wsdl:part name="arg_3_0" type="impl:BigIntegerList"/>

   </wsdl:message>
   
   <wsdl:message name="testLongList4Response">

      <wsdl:part name="testLongList4Return" type="impl:LongList"/>

   </wsdl:message>

   <wsdl:message name="testLongList4Request">

      <wsdl:part name="arg_4_0" type="impl:LongList"/>

   </wsdl:message>
   
   <wsdl:message name="testEnumList5Response">

      <wsdl:part name="testEnumList5Return" type="impl:EnumList"/>

   </wsdl:message>

   <wsdl:message name="testEnumList5Request">

      <wsdl:part name="arg_5_0" type="impl:EnumList"/>

   </wsdl:message>
   
   <wsdl:message name="testEnumList7Response">

      <wsdl:part name="testEnumList7Return" type="impl:EnumList2"/>

   </wsdl:message>

   <wsdl:message name="testEnumList7Request">

      <wsdl:part name="arg_7_0" type="impl:EnumList2"/>

   </wsdl:message>

   <wsdl:message name="testComplexAll6Response">

      <wsdl:part name="testComplexAll6Return" type="impl:complexAll"/>

   </wsdl:message>

   <wsdl:message name="testComplexAll6Request">

      <wsdl:part name="arg_6_0" type="impl:complexAll"/>

   </wsdl:message>

   <wsdl:message name="testSimpleRequest">

      <wsdl:part name="simpleIn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="testSimpleResponse">

      <wsdl:part name="simpleOut" type="xsd:string"/>

   </wsdl:message>
   
   <wsdl:message name="testSimpleInOutRequest">

      <wsdl:part name="simpleInOut" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="testSimpleInOutResponse">

      <wsdl:part name="simpleOut" type="xsd:string"/>
      <wsdl:part name="simpleInOut" type="xsd:string"/>

   </wsdl:message>
   
   <wsdl:message name="testSimple2Request">

      <wsdl:part name="simple2In1" type="xsd:string"/>
      <wsdl:part name="simple2In1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="testSimple2Response">

      <wsdl:part name="simple2Out" type="xsd:string"/>

   </wsdl:message>
   
   <wsdl:message name="testHeaderRequest">

      <wsdl:part name="bodyParam" type="xsd:string"/>
      <wsdl:part name="headerParam" element="impl:headerParam"/>

   </wsdl:message>

   <wsdl:message name="testHeaderResponse">

      <wsdl:part name="headerReturn" type="impl:headerReturn" />

   </wsdl:message>
   
   <wsdl:message name="testFaultRequest" />
   <wsdl:message name="testFaultResponse" />
   
   <wsdl:message name="rpcFault">
     <wsdl:part name="rpcFault" element="impl:myFault" />
   </wsdl:message>

   <wsdl:portType name="RPCLit">
     
      <wsdl:operation name="testSimple" parameterOrder="simpleIn">

         <wsdl:input message="impl:testSimpleRequest" name="testSimpleRequest"/>

         <wsdl:output message="impl:testSimpleResponse" name="testSimpleResponse"/>

      </wsdl:operation>
      
       <wsdl:operation name="testSimpleInOut" parameterOrder="simpleInOut">

         <wsdl:input message="impl:testSimpleInOutRequest" name="testSimpleInOutRequest"/>

         <wsdl:output message="impl:testSimpleInOutResponse" name="testSimpleInOutResponse"/>

      </wsdl:operation>
      
      <wsdl:operation name="testSimple2" parameterOrder="simple2In1 simple2In2">

         <wsdl:input message="impl:testSimple2Request" name="testSimple2Request"/>

         <wsdl:output message="impl:testSimple2Response" name="testSimple2Response"/>

      </wsdl:operation>
      
      <wsdl:operation name="testHeader" parameterOrder="bodyParam headerParam">

         <wsdl:input message="impl:testHeaderRequest" name="testHeaderRequest"/>

         <wsdl:output message="impl:testHeaderResponse" name="testHeaderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="testLists" parameterOrder="arg_0_0 arg_1_0 arg_2_0 arg_3_0 arg_4_0 arg_5_0 arg_7_0 arg_6_0">

         <wsdl:input message="impl:testListsRequest" name="testListsRequest"/>

         <wsdl:output message="impl:testListsResponse" name="testListsResponse"/>

      </wsdl:operation>
      
      <wsdl:operation name="testCalendarList1" parameterOrder="arg_1_0">

         <wsdl:input message="impl:testCalendarList1Request" name="testCalendarList1Request"/>

         <wsdl:output message="impl:testCalendarList1Response" name="testCalendarList1Response"/>

      </wsdl:operation>
      
      <wsdl:operation name="testStringList2" parameterOrder="arg_2_0">

         <wsdl:input message="impl:testStringList2Request" name="testStringList2Request"/>

         <wsdl:output message="impl:testStringList2Response" name="testStringList2Response"/>

      </wsdl:operation>
      
      <wsdl:operation name="testBigIntegerList3" parameterOrder="arg_3_0">

         <wsdl:input message="impl:testBigIntegerList3Request" name="testBigIntegerList3Request"/>

         <wsdl:output message="impl:testBigIntegerList3Response" name="testBigIntegerList3Response"/>

      </wsdl:operation>
      
      <wsdl:operation name="testLongList4" parameterOrder="arg_4_0">

         <wsdl:input message="impl:testLongList4Request" name="testLongList4Request"/>

         <wsdl:output message="impl:testLongList4Response" name="testLongList4Response"/>

      </wsdl:operation>
      
      <wsdl:operation name="testEnumList5" parameterOrder="arg_5_0">

         <wsdl:input message="impl:testEnumList5Request" name="testEnumList5Request"/>

         <wsdl:output message="impl:testEnumList5Response" name="testEnumList5Response"/>

      </wsdl:operation>
      
      <wsdl:operation name="testEnumList7" parameterOrder="arg_7_0">

         <wsdl:input message="impl:testEnumList7Request" name="testEnumList7Request"/>

         <wsdl:output message="impl:testEnumList7Response" name="testEnumList7Response"/>

      </wsdl:operation>
      
      <wsdl:operation name="testComplexAll6" parameterOrder="arg_6_0">

         <wsdl:input message="impl:testComplexAll6Request" name="testComplexAll6Request"/>

         <wsdl:output message="impl:testComplexAll6Response" name="testComplexAll6Response"/>

      </wsdl:operation>
      
      <wsdl:operation name="testFault">

         <wsdl:input message="impl:testFaultRequest" name="testFaultRequest"/>

         <wsdl:output message="impl:testFaultResponse" name="testFaultResponse"/>
         <wsdl:fault name="rpcFault" message="impl:rpcFault" />
      </wsdl:operation>
      
   </wsdl:portType>

   <wsdl:binding name="RPCLitSoapBinding" type="impl:RPCLit">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="testSimple">

         <wsdl:input name="testSimpleRequest">
               <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>
         </wsdl:input>

         <wsdl:output name="testSimpleResponse">
               <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>
         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="testSimpleInOut">

         <wsdl:input name="testSimpleInOutRequest">
               <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>
         </wsdl:input>

         <wsdl:output name="testSimpleInOutResponse">
               <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>
         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="testSimple2">

         <wsdl:input name="testSimple2Request">
               <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>
         </wsdl:input>

         <wsdl:output name="testSimple2Response">
               <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>
         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="testHeader">
			
         <wsdl:input name="testHeaderRequest">
               <wsdlsoap:body parts="bodyParam" use="literal"/>
               <wsdlsoap:header message="impl:testHeaderRequest" part="headerParam" use="literal"/>
         </wsdl:input>

         <wsdl:output name="testHeaderResponse">
               <wsdlsoap:header message="impl:testHeaderResponse" part="headerReturn" use="literal"/>
         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="testLists">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testListsRequest">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:input>

         <wsdl:output name="testListsResponse">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="testCalendarList1">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testCalendarList1Request">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:input>

         <wsdl:output name="testCalendarList1Response">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="testStringList2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testStringList2Request">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:input>

         <wsdl:output name="testStringList2Response">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="testBigIntegerList3">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testBigIntegerList3Request">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:input>

         <wsdl:output name="testBigIntegerList3Response">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="testLongList4">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testLongList4Request">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:input>

         <wsdl:output name="testLongList4Response">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="testEnumList5">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testEnumList5Request">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:input>

         <wsdl:output name="testEnumList5Response">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="testEnumList7">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testEnumList7Request">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:input>

         <wsdl:output name="testEnumList7Response">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="testComplexAll6">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testComplexAll6Request">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:input>

         <wsdl:output name="testComplexAll6Response">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:output>

      </wsdl:operation> 
      <wsdl:operation name="testFault">

         <wsdlsoap:operation soapAction="testFault"/>

         <wsdl:input name="testFaultRequest">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:input>

         <wsdl:output name="testFaultResponse">

            <wsdlsoap:body namespace="http://org/apache/axis2/jaxws/proxy/rpclit" use="literal"/>

         </wsdl:output>
         <wsdl:fault name="rpcFault">
            <wsdlsoap:fault name="rpcFault" use="literal" />
         </wsdl:fault>

      </wsdl:operation>      

   </wsdl:binding>

   <wsdl:service name="RPCLitService">

      <wsdl:port binding="impl:RPCLitSoapBinding" name="RPCLit">

         <wsdlsoap:address location="http://localhost:9080/axis2/services/RPCLitService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>

