dependencies/axis2/1.6.1-wso2v11/modules/integration/test-resources/wsdl/DocumentUnwrappingTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions name="wsdladmintest"
                  targetNamespace="http://www.example.org/wsdltest/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.example.org/wsdltest/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/wsdltest/"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:p="http://schemas.xmlsoap.org/wsdl/soap/">
            <xsd:element name="Request1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param1" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Response1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Request2">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param1" type="xsd:string"/>
                        <xsd:element name="param2" type="xsd:string"/>
                        <xsd:element name="param3" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Response2">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param1" type="xsd:int"/>
                        <xsd:element name="param2" type="xsd:boolean"/>
                        <xsd:element name="param3" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Request3" type="tns:SingleElementComplexType"/>
            <xsd:element name="Response3" type="tns:SingleElementComplexType"/>

            <xsd:complexType name="SingleElementComplexType">
                <xsd:sequence>
                    <xsd:element name="param1" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="Request4" type="tns:MultipleElementComplexType"/>
            <xsd:element name="Response4" type="tns:MultipleElementComplexType"/>

            <xsd:complexType name="MultipleElementComplexType">
                <xsd:sequence>
                    <xsd:element name="param1" type="xsd:string"/>
                    <xsd:element name="param2" type="xsd:string"/>
                    <xsd:element name="param3" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="Request5" >
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="tns:AbstractComplexType">
                            <xsd:sequence>
                              <xsd:element name="parm3" type="xsd:string"/>
                              <xsd:any></xsd:any>
                          </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Response5" >
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="tns:AbstractComplexType">
                            <xsd:sequence>
                              <xsd:element name="parm3" type="xsd:string"/>
                              <xsd:any></xsd:any>
                          </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Request6" type="tns:ChildComplexType"/>
            <xsd:element name="Response6" type="tns:ChildComplexType"/>

            <xsd:element name="Request7" >
                <xsd:complexType>
                    <xsd:attribute name="attrib1" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Response7" >
                  <xsd:complexType>
                    <xsd:attribute name="attrib1" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Request8">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param1" type="xsd:string"/>
                        <xsd:element name="param2" type="xsd:string"/>
                    </xsd:sequence>
                    <xsd:attribute name="attrib1" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="Response8">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param1" type="xsd:string"/>
                        <xsd:element name="param2" type="xsd:string"/>
                    </xsd:sequence>
                    <xsd:attribute name="attrib1" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="AbstractComplexType">
                <xsd:sequence>
                    <xsd:element name="param1" type="xsd:anyType"/>
                    <xsd:element name="param2" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ChildComplexType">
                  <xsd:complexContent>
                      <xsd:extension base="tns:AbstractComplexType">
                          <xsd:sequence>
                              <xsd:element name="parm3" type="xsd:string"/>
                              <xsd:any></xsd:any>
                          </xsd:sequence>
                      </xsd:extension>
                  </xsd:complexContent>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="OperationRequestMessage1">
        <wsdl:part element="tns:Request1" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OperationResponseMessage1">
        <wsdl:part element="tns:Response1" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="OperationRequestMessage2">
        <wsdl:part element="tns:Request2" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OperationResponseMessage2">
        <wsdl:part element="tns:Response2" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="OperationRequestMessage3">
        <wsdl:part element="tns:Request3" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OperationResponseMessage3">
        <wsdl:part element="tns:Response3" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="OperationRequestMessage4">
        <wsdl:part element="tns:Request4" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OperationResponseMessage4">
        <wsdl:part element="tns:Response4" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="OperationRequestMessage5">
        <wsdl:part element="tns:Request5" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OperationResponseMessage5">
        <wsdl:part element="tns:Response5" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="OperationRequestMessage6">
        <wsdl:part element="tns:Request6" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OperationResponseMessage6">
        <wsdl:part element="tns:Response6" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="OperationRequestMessage7">
        <wsdl:part element="tns:Request7" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OperationResponseMessage7">
        <wsdl:part element="tns:Response7" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="OperationRequestMessage8">
        <wsdl:part element="tns:Request8" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="OperationResponseMessage8">
        <wsdl:part element="tns:Response8" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="FaultMessage">
        <wsdl:part element="tns:Request1" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="DocumentUnwrappingPortType">
        <wsdl:operation name="Operation1">
            <wsdl:input message="tns:OperationRequestMessage1"/>
            <wsdl:output message="tns:OperationResponseMessage1"/>
        </wsdl:operation>
        <wsdl:operation name="Operation2">
            <wsdl:input message="tns:OperationRequestMessage2"/>
            <wsdl:output message="tns:OperationResponseMessage2"/>
        </wsdl:operation>
        <wsdl:operation name="Operation3">
            <wsdl:input message="tns:OperationRequestMessage3"/>
            <wsdl:output message="tns:OperationResponseMessage3"/>
        </wsdl:operation>
        <wsdl:operation name="Operation4">
            <wsdl:input message="tns:OperationRequestMessage4"/>
            <wsdl:output message="tns:OperationResponseMessage4"/>
        </wsdl:operation>
        <wsdl:operation name="Operation5">
            <wsdl:input message="tns:OperationRequestMessage5"/>
            <wsdl:output message="tns:OperationResponseMessage5"/>
        </wsdl:operation>
        <wsdl:operation name="Operation6">
            <wsdl:input message="tns:OperationRequestMessage6"/>
            <wsdl:output message="tns:OperationResponseMessage6"/>
        </wsdl:operation>

        <wsdl:operation name="Operation9">
            <wsdl:input message="tns:OperationRequestMessage7"/>
            <wsdl:output message="tns:OperationResponseMessage7"/>
        </wsdl:operation>

        <wsdl:operation name="Operation10">
            <wsdl:input message="tns:OperationRequestMessage8"/>
            <wsdl:output message="tns:OperationResponseMessage8"/>
        </wsdl:operation>

        <wsdl:operation name="Operation7">
            <wsdl:input message="tns:OperationRequestMessage1"/>
        </wsdl:operation>

        <wsdl:operation name="Operation8">
            <wsdl:input message="tns:OperationRequestMessage1"/>
            <wsdl:fault message="tns:FaultMessage" name="TestFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DocumentUnwrappingTestBinding" type="tns:DocumentUnwrappingPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation1">
            <soap:operation soapAction="http://www.example.org/wsdltest/Operation1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation2">
            <soap:operation soapAction="http://www.example.org/wsdltest/Operation2"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation3">
            <soap:operation soapAction="http://www.example.org/wsdltest/Operation3"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation4">
            <soap:operation soapAction="http://www.example.org/wsdltest/Operation4"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation5">
            <soap:operation soapAction="http://www.example.org/wsdltest/Operation5"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation6">
            <soap:operation soapAction="http://www.example.org/wsdltest/Operation6"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation7">
            <soap:operation soapAction="http://www.example.org/wsdltest/Operation7"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="Operation8">
            <soap:operation soapAction="http://www.example.org/wsdltest/Operation8"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="TestFault">
                <soap:body use="literal" name="TestFault"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Operation9">
            <soap:operation soapAction="http://www.example.org/wsdltest/Operation9"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation10">
            <soap:operation soapAction="http://www.example.org/wsdltest/Operation10"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DocumentUnwrappingTestService">
        <wsdl:port binding="tns:DocumentUnwrappingTestBinding" name="port1">
            <soap:address location="http://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

