dependencies/axis2/1.6.1-wso2v11/modules/adb-codegen/test-resources/testsuite/decimal.xsd

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<xsd:schema elementFormDefault="qualified"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://apache.org/axis2/schema/decimal"
           targetNamespace="http://apache.org/axis2/schema/decimal">

    <xsd:complexType name="ArrayOfDecimal">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="decimal" nillable="true" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getHistoricNavResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfDecimal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>