dependencies/axis2/1.6.1-wso2v11/modules/jaxws-integration/test-resources/wsdl/BadEndpointAddress.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<definitions targetNamespace="http://jaxws.axis2.apache.org"
      xmlns:tns="http://jaxws.axis2.apache.org"
      xmlns="http://schemas.xmlsoap.org/wsdl/" 
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   <types>
      <xsd:schema targetNamespace="http://jaxws.axis2.apache.org"
         xmlns:tns="http://jaxws.axis2.apache.org"
         xmlns="http://www.w3.org/2001/XMLSchema"
         elementFormDefault="qualified">

         <complexType name="echoType">
            <sequence>
               <element name="request" type="xsd:string"/>
            </sequence>
         </complexType>

         <complexType name="echoResponseType">
            <sequence>
               <element name="response" type="xsd:string"/>
            </sequence>
         </complexType>

         <element name="echo" type="tns:echoType"/>
         <element name="echoResponse" type="tns:echoResponseType"/>

      </xsd:schema>
   </types>

   <message name="echo">
      <part name="parameters" element="tns:echo"/>
   </message>

   <message name="echoResponse">
      <part name="parameters" element="tns:echoResponse"/>
   </message>

   <portType name="Echo">
      <operation name="echo">
         <input message="tns:echo" />
         <output message="tns:echoResponse" />
      </operation>
   </portType>

   <binding name="EchoBinding" type="tns:Echo">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="echo">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>

         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
   </binding>

   <service name="EchoService">
      <port binding="tns:EchoBinding" name="EchoPort">
         <soap:address location="this is an invalid string"/>
      </port>
   </service>
</definitions>
