dependencies/axis2/1.6.1-wso2v11/modules/jaxws-integration/test-resources/wsdl/HeadersHandler.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<definitions name="HeadersHandler" targetNamespace="http://org/test/headershandler"
	xmlns:tns="http://org/test/headershandler" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">


	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="http://org/test/headershandler">
			<element name="headersHandlerResponse">
				<complexType>
					<sequence>
						<element name="return" type="xsd:int" />
					</sequence>
				</complexType>
			</element>

			<element name="headersHandler">
				<complexType>
					<sequence>
						<element name="arg0" type="xsd:int" />
						<element name="arg1" type="xsd:int" />
					</sequence>
				</complexType>
			</element>

			<element name="HeadersHandlerFault">
				<complexType>
					<sequence>
						<element name="faultInfo" type="xsd:string" />
						<element name="message" type="xsd:string" />
					</sequence>
				</complexType>
			</element>

			<element name="oneWayInt">
				<complexType>
					<sequence>
						<element name="arg0" type="xsd:int" />
					</sequence>
				</complexType>
			</element>

		</xsd:schema>
	</types>

	<message name="headersHandler">
		<part name="parameters" element="tns:headersHandler" />
	</message>
	<message name="headersHandlerResponse">
		<part name="result" element="tns:headersHandlerResponse" />
	</message>
	<message name="headersHandlerFault">
		<part name="HeadersHandlerFault" element="tns:HeadersHandlerFault" />
	</message>
	<message name="oneWayInt">
		<part name="parameters" element="tns:oneWayInt" />
	</message>

	<portType name="HeadersHandlerPortType">
		<operation name="headersHandler">
			<input message="tns:headersHandler" name="add" />
			<output message="tns:headersHandlerResponse" name="addResponse" />
			<fault name="headersHandlerFault" message="tns:headersHandlerFault" />
		</operation>
		<operation name="oneWayInt">
			<input message="tns:oneWayInt" />
		</operation>
	</portType>
	<binding name="HeadersHandlerBinding" type="tns:HeadersHandlerPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="headersHandler">
			
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="headersHandlerFault">
				<soap:fault name="headersHandlerFault" use="literal" />
			</fault>
		</operation>
		<operation name="oneWayInt">
			
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>
	<service name="HeadersHandlerService">
		<port name="HeadersHandlerPort" binding="tns:HeadersHandlerBinding">
			<soap:address
				location="http://localhost:9080/HeadersHandler/HeadersHandlerImplService" />
		</port>
	</service>
</definitions>
