dependencies/axis2/1.6.1-wso2v11/modules/jaxws-integration/test-resources/wsdl/samplemtomjpeg.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!--
Name: samplemtomjpeg.wsdl
-->
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    xmlns:s0="urn://mtom1.sample.jaxws.axis2.apache.org"
    targetNamespace="urn://mtom1.sample.jaxws.axis2.apache.org"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    
  <types>
   <xs:schema elementFormDefault="qualified"
    xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
    xmlns:tns="urn://mtom1.sample.jaxws.axis2.apache.org"
    targetNamespace="urn://mtom1.sample.jaxws.axis2.apache.org">
    
    <xs:import namespace="http://www.w3.org/2005/05/xmlmime"
               schemaLocation="../xsd/xmlmime.xsd"/>
    <xs:complexType name="ImageDepot">
       <xs:sequence>
           <xs:element name="imageData" 
                       type="xs:base64Binary"                        
                       xmime:expectedContentTypes="image/jpeg"/>
                       
          <xs:element name="textData" 
                       type="xmime:base64Binary"                        
                       xmime:contentType="text/xml"/>
          
       </xs:sequence>
    </xs:complexType>
    
    <xs:element name="invoke">
       <xs:complexType>
          <xs:sequence>
             <xs:element minOccurs="0" maxOccurs="1" name="input" type="tns:ImageDepot"/>
          </xs:sequence>
       </xs:complexType>
    </xs:element>
    
    <xs:element name="sendImageResponse">
       <xs:complexType>
          <xs:sequence>
             <xs:element minOccurs="0" maxOccurs="1" name="output" type="tns:ImageDepot"/>
          </xs:sequence>
       </xs:complexType>
    </xs:element>
    
   </xs:schema>
  </types>

  <message name="emptyMessage"/>
  <message name="sendImage">
    <part name="parameters" element="s0:invoke" />
  </message>
  <message name="sendImageResponse">
    <part name="parameters" element="s0:sendImageResponse" />
  </message>

  <portType name="sendImageInterface">
    <operation name="invoke">
      <input message="s0:sendImage" />
      <output message="s0:sendImageResponse" />
    </operation>  
  </portType>

  <binding name="sendImageSoap" type="s0:sendImageInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="invoke">
      <soap:operation soapAction="sendImage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <service name="SendImageService">
    <port name="SendImagePort" binding="s0:sendImageSoap">
      <soap:address location="http://localhost:9080/MTOMByteArray/SendImageService" />
    </port>
  </service>

</definitions>
