dependencies/axis2/1.6.1-wso2v11/modules/jaxws/test-resources/wsdl/DispatchOperationResolutionJAXB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://test/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EchoService"
                  targetNamespace="http://test/">
    <wsdl:types>
        <xsd:schema
                targetNamespace="http://test/"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">


            <xsd:element name="echoStringResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="echoResponse"
                                     type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="echoStringInput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="echoInput" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="echoStringRequest">
        <wsdl:part element="tns:echoStringInput" name="parameter"/>
    </wsdl:message>
    <wsdl:message name="echoStringResponse">
        <wsdl:part element="tns:echoStringResponse" name="parameter"/>
    </wsdl:message>
    <wsdl:portType name="EchoServicePortType">

        <wsdl:operation name="echoString">
            <wsdl:input message="tns:echoStringRequest"/>
            <wsdl:output message="tns:echoStringResponse"/>
        </wsdl:operation>
        <wsdl:operation name="echoString2">
            <wsdl:input message="tns:echoStringRequest"/>
            <wsdl:output message="tns:echoStringResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoSOAP" type="tns:EchoServicePortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echoString">
            <soap:operation soapAction="echoString" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoString2">
            <soap:operation soapAction="echoString2" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoService">
        <wsdl:port binding="tns:EchoSOAP" name="EchoServicePort">
            <soap:address
                    location="http://localhost:8080/jaxws-samples/services/EchoService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
