dependencies/axis2/1.6.1-wso2v11/modules/jaxws/test-resources/wsdl/RespectBinding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AddNumbers" targetNamespace="http://RespectBinding.jaxws22" xmlns:ns1="http://extension.RespectBinding.jaxws22" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://RespectBinding.jaxws22" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://RespectBinding.jaxws22" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="addNumbersResponse">
				<complexType>
					<sequence>
						<element name="return" type="xsd:int"/>
					</sequence>
				</complexType>
			</element>

			<element name="addNumbers">
				<complexType>
					<sequence>
						<element name="arg0" type="xsd:int"/>
						<element name="arg1" type="xsd:int"/>
					</sequence>
				</complexType>
			</element>

			<element name="headerPart0">
				<complexType>
					<sequence>
						<element name="headerType" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>

			<element name="headerPart1">
				<complexType>
					<sequence>
						<element name="headerType" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			
			<element name="AddNumbersFault">
				<complexType>
					<sequence>
						<element name="faultInfo" type="xsd:string" />
						<element name="message" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="addNumbers">
		<wsdl:part element="tns:addNumbers" name="parameters"/>
		<wsdl:part element="tns:headerPart1" name="header1"/>
	</wsdl:message>

	<wsdl:message name="addNumbersResponse">
		<wsdl:part element="tns:addNumbersResponse" name="result"/>
	</wsdl:message>
	
	<wsdl:message name="addNumbersFault">
		<wsdl:part name="AddNumbersFault" element="tns:AddNumbersFault" />
	</wsdl:message>

	<wsdl:portType name="AddNumbersPortType">
		<wsdl:operation name="addNumbers" parameterOrder="parameters header1">
			<wsdl:input message="tns:addNumbers"/>
			<wsdl:output message="tns:addNumbersResponse"/>
			<wsdl:fault name="addNumbersFault" message="tns:addNumbersFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AddNumbersBinding" type="tns:AddNumbersPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<ns1:rootBinding uri="http://test/extension" required="true"/> 
		<wsdl:operation name="addNumbers">
			<ns1:opBinding uri="http://test/extension" required="true"/> 
			<soap:operation soapAction=""/>
			<wsdl:input>
				<ns1:inputBinding uri="http://test/extension" required="true"/> 
				<soap:body parts="parameters" use="literal"/>	
				<soap:header message="tns:addNumbers" part="header1" use="literal"/>	
			</wsdl:input>
			<wsdl:output>
				<ns1:outputBinding uri="http://test/extension" required="true"/> 
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="addNumbersFault">
				<ns1:faultBinding uri="http://test/extension" required="true"/> 
				<soap:fault name="addNumbersFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="AddNumbersService">
		<wsdl:port binding="tns:AddNumbersBinding" name="AddNumbersPort">
			<soap:address location="http://@HOST@:@PORT@/RespectBindingFAT/AddNumbersService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>