dependencies/axis2/1.6.1-wso2v11/modules/jaxws/test-resources/wsdl/shapes.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements. See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership. The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<wsdl:definitions
	targetNamespace="http://sei.shape.polymorphic.jaxws.axis2.apache.org"
	xmlns="http://sei.shape.polymorphic.jaxws.axis2.apache.org"
	
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://sei.shape.polymorphic.jaxws.axis2.apache.org"
	xmlns:tns1="http://shape.test.org"
	xmlns:tns2="http://threed.shape.test.org"
	xmlns:tns3="http://wrapper.shape.test.org"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<wsdl:types>
	    <xsd:schema>
		      <xsd:import namespace="http://shape.test.org"
		                  schemaLocation="../xsd/shape.xsd"/>
		      <xsd:import namespace="http://threed.shape.test.org"
		                  schemaLocation="../xsd/3DShape.xsd"/>
		      <xsd:import namespace="http://wrapper.shape.test.org"
		                  schemaLocation="../xsd/shape_wrappers.xsd"/>
	    </xsd:schema>
	    
	</wsdl:types>
	<wsdl:message name="draw3DRequest">
		<wsdl:part name="request" element="tns3:draw3D">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="drawRequest">
		<wsdl:part name="request" element="tns3:draw">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="drawResponse">
		<wsdl:part name="typesQNameResponse" element="tns3:drawResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="PolymorphicShapePortType">
		<wsdl:operation name="draw">
			<wsdl:input message="tns:drawRequest" />
			<wsdl:output message="tns:drawResponse" />
		</wsdl:operation>
	
		<wsdl:operation name="draw3D">
			<wsdl:input message="tns:draw3DRequest" />
			<wsdl:output message="tns:drawResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="PolymorphicShapeBinding" type="tns:PolymorphicShapePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="draw">			
			<soap:operation
				soapAction="http://sei.polymorphicshape.jaxws.axis2.apache.org/draw" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="draw3D">
			<soap:operation
				soapAction="http://sei.polymorphicshape.jaxws.axis2.apache.org/draw3D" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="PolymorphicShapeService">
		<wsdl:port name="PolymorphicShapePort"
			binding="tns:PolymorphicShapeBinding">
			<soap:address
				location="http://localhost:6060/axis2/services/PolymorphicShapeService" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
